/**
 * Tint
 * Mixes a color with white.
 */
@function tint($color, $percent) {
  @if not _is-color($color) {
    @error '`#{$color}` is not a valid color for the `$color`'
      + 'argument in the `tint` function.';
  } @else {
    @return mix(#fff, $color, $percent);
  }
}
