.request-access-bar {
  width: 100%;
  background-color: #000000;
  position: sticky;
  bottom: 0;
  text-align: center;
  z-index: 100;

  a {
    color: #ffffff;
    font-size: 26px;
    line-height: 78px;
    letter-spacing: 0.12px;
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .request-access-bar a {
    font-size: 22px;
    line-height: 50px;
  }
}