.main-article-content {
  header {
    padding-bottom: 15px;
    border-bottom: 1px solid #F3F3F3;

    div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      border-left: 2px solid $brand-primary;
      padding: 3px 0 0 23px;
    }

    date {
      font-size: 13px;
      line-height: 13px;
      color: #AAAAAA;
    }
  }
}

.main__content {
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 15px;
    margin-top: 0;
  }
  
  h2 {
    font-size: 30px;
    line-height: 1.15;
    font-weight: normal;
  }

  ul {
    padding-inline-start: 20px;
  }

  ul > li::before {
    content: '\2022';
    color: $brand-primary;
    width: 1em;
    margin-left: -1em;
    float: left;
  }

  ol {
    counter-reset: item;
    padding-inline-start: 30px;
  }

  ol > li {
    display: block;
  }

  ol > li:before {
    content: counter(item);
    counter-increment: item;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 11px;
    background-color: $brand-primary;
    color: #fff;
    margin-left: -28px;
    margin-top: 2px;
  }
}

.main__inner {
  display: flex;
  flex-wrap: nowrap;

  @media (max-width: $main-extra-large-breakpoint) {
    width: 100%;
  }
}

.main__content {
  position: relative;
  width: 780px;
  padding: 35px 22px 45px 100px;
  display: flex;
  flex-direction: column;
  font-family: $font-family-content;

  @media (max-width: $main-extra-large-breakpoint) {
    margin: 0 auto;
    padding: 35px 22px 35px 40px;
  }

  @media (max-width: $mobile-navigation-breakpoint) {
    padding: 0 23px;
  }
}

.main__content-article {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 80px;
}