.main__inner {
  display: flex;
  flex-wrap: nowrap;

  @media (max-width: $main-extra-large-breakpoint) {
    width: 100%;
  }
}

.main__content {
  position: relative;
  width: 700px;
  padding: 35px 22px 45px 100px;

  @media (max-width: $main-extra-large-breakpoint) {
    margin: 0 auto;
    padding: 35px 22px 35px 40px;
  }

  @media (max-width: $mobile-navigation-breakpoint) {
    padding: 0 23px;
  }
}

.main__content-article {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 80px;
}