html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-width: thin;
  outline-color: $brand-primary;
}

ul,
ol,
dl {
  margin-top: 0;
  list-style: none;
}

button,
input,
select,
textarea {
  color: #111;
  font-family: $font-family-default;
  font-weight: 300;
  font-size: 21px;
}

button {
  cursor: pointer;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

hr {
  border: 0;
  border-top: 1px solid $grey-light;
  margin: 30px 0;
}

a {
  color: $brand-primary;
  text-decoration: none;
  cursor: pointer;
}

a:not([class]):hover,
a:not([class]):focus {
  text-decoration: none;
}

a.headerlink {
  font-size: 0;
}

h1:hover a.headerlink::before,
h2:hover a.headerlink::before,
h3:hover a.headerlink::before,
h4:hover a.headerlink::before,
h5:hover a.headerlink::before,
h6:hover a.headerlink::before {
  opacity: 1;
}

a.headerlink::before {
  content: '';
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 15px;
  background: url('../images/img/headerlink.svg') no-repeat center center;
  opacity: 0;
  padding-right: 22px;
}

/**
 * Main content wrapper
 */
[role='main'].document {
  max-width: 100%;
}

.rst-content a:hover,
.rst-content a:focus {
  text-decoration: underline;
}

/**
 * Specific styles for currencies table
 */
#supported-currencies table tr th,
#supported-currencies table tr td {
  text-align: left;
}

/**
 * Specific styles for payment method expiry times table
 */
#expiry-times-per-payment-method table tr th,
#expiry-times-per-payment-method table tr td {
  text-align: left;
}

#expiry-times-per-payment-method table ul {
  list-style: none;
  padding: 0;
}

.api-table td {
  padding: 0 10px;
}

.api-table td:nth-child(2) {
  font-style: italic;
}

blockquote {
  margin: 16px 0;
  padding: 8px 30px;
  border-left: 2px solid #eee;

  & p {
    margin: 0;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 17px;
  text-align: left;
  color: #3C3C3C;
  display: block;
  overflow-x: auto;
}

th:first-child {
  border-top-left-radius: 4px;
}

th:last-child {
  border-top-right-radius: 4px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

th {
  border-top: 1px solid #E6E6EA;
}

th, td {
  border-right: 1px solid #E6E6EA;
  border-bottom: 1px solid #E6E6EA;
  padding: 15px 20px;
}

th,
td:first-child {
  background-color: #F7F8FA;
  font-weight: 500;
}

th:first-child,
td:first-child {
  border-left: 1px solid #E6E6EA;
}
