$navigation-height: 100px;
$navigation-height-collapsed: 80px;
$menu-breakpoint: 715px;

.navigation-wrapper {
  position: relative;
  border-bottom: 1px solid $blackish-grey;
  z-index: 10;
  top: 0;
}

.navigation {
  height: 62px;
  padding: 0 26px;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $menu-breakpoint) {
    overflow: hidden;
  }
}

.navigation__menu,
.navigation__right {
  transform: translateY(-20%);
  opacity: 0;
}

.navigation__menu.show,
.navigation__right.show {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.6s linear, opacity 0.6s linear;
}

.navigation__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__centra-logo {
  height: 33px;
}

.navigation__burger-menu {
  display: none;
  outline: none;
  width: 40px;
  height: 40px;
  border: none;
  background: url('../images/img/burger-menu.svg') no-repeat center center;
}

.navigation-search-button {
  display: none;
  outline: none;
  width: 40px;
  height: 40px;
  border: none;
  background: url('../images/img/search.svg') no-repeat center center;
}

.navigation-search-button.search-link {
  display: none;
  width: 36px;
  height: 36px;
  background-color: $blackish;
  border-radius: 50%;
  margin-right: 15px;
  top: 0;
  left: 0;

  &:hover {
    background-color: $blackish-grey;
  }
}

.navigation__link-developers {
  position: relative;
  z-index: 30;
  color: #505050;
  text-decoration: none;
  font-size: 28px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
}

.landing-page .navigation-search-button {
  display: none;
}

.landing-page .navigation-search-button.search-link {
  display: block;
}

.navigation-background {
  position: absolute;
  width: 100%;
  height: 257px;
  top: 0;
  left: 0;
  z-index: 0;
  background: $black;
}

.landing-page .navigation-background {
  display: none;
}

.navigation-background__slider {
  position: absolute;
  top: 62px;
  left: 14%;
  width: 133px;
  height: 101px;
  background: url('../images/img/slider.svg') no-repeat center center;
  animation: swimming1 12s infinite;
  animation-direction: alternate;
}

.navigation-background__stack {
  position: absolute;
  top: 38px;
  right: 27%;
  width: 210px;
  height: 175px;
  background: url('../images/img/stack.svg') no-repeat center center;
  animation: swimming2 12s infinite;
  animation-direction: alternate;
}

.navigation-background__smile {
  position: absolute;
  top: 168px;
  left: 10%;
  width: 76px;
  height: 60px;
  background: url('../images/img/smile.svg') no-repeat center center;
  animation: swimming3 12s infinite;
  animation-direction: alternate;
}

.navigation-background__hand {
  position: absolute;
  top: 140px;
  right: 10%;
  width: 189px;
  height: 100px;
  background: url('../images/img/Hand-Illustration-7.png') no-repeat center center;
  background-size: contain;
  animation: swimming4 10s infinite;
  animation-direction: alternate;
}

.navigation-background__circle-outlined {
  position: absolute;
  top: 217px;
  right: 41%;
  width: 97px;
  height: 40px;
  background: url('../images/img/circle-outlined.svg') no-repeat center top;
  animation: swimming5 10s infinite;
  animation-direction: alternate;
}

.navigation--small, .navigation--small .navigation__items {
  @media (min-width: $menu-breakpoint) {
    transform: translateY(0);
  }
}

.navigation--small:hover {
  transform: translateY(45px);
}

.landing-page .show {
  display: flex;
  z-index: 2;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .navigation-wrapper {
    position: fixed;
    width: 100%;
    transition: all 0.5s linear;
    background-color: $black;
  }

  #navigation-wrapper {
    &.showNavigation {
      top: 0;
      opacity: 1;
      background-color: $black;
    }

    &.hideNavigation {
      top: -80px;
      opacity: 0;
      background-color: $black;
    }
  }

  .navigation {
    height: 64px;
  }

  .navigation__burger-menu {
    order: 1;
    display: block;
  }

  .navigation-search-button {
    display: block;
  }

  .navigation__burger-menu.close {
    background-image: url('../images/img/close-arrow.svg');
  }

  .navigation-search,
  .navigation .navigation__contact-us,
  .navigation-background,
  .navigation__items {
    display: none;
  }

  .navigation-search.show {
    display: flex;
  }

  .navigation-search-button {
    display: block;
  }

  .navigation-search-button.close {
    background-image: url('../images/img/close.svg');
  }

  .landing-page .show,
  .show {
    display: flex;
  }

  .landing-page .navigation-search.show,
  .navigation-search.show {
    margin-top: 64px;
  }

  .landing-page .navigation-background.show,
  .navigation-background.show {
    top: 64px;
  }

  .navigation-search-button.search-link {
    margin-right: 7px;
  }
}

.navigation__link-developers.hide {
  display: none;
}

.navigation__section {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #949494
}

@media (max-width: breakpoint("medium")) {
  .navigation {
    padding: 0 5px;
  }
}

@media (max-width: $main-mobile-navigation-breakpoint) {
  .navigation__link-developers {
    font-size: 24px;
  }

  .navigation-wrapper.remove-border {
    border: none;
  }
}
