.navigation-search {
  width: 100%;
  height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.landing-page .navigation-search {
  display: none;
}

.navigation-search__form {
  margin: 0 15px;
  background: #111111;
  opacity: 0.92;
  border: 1px solid $blackish-grey;
  border-radius: 6px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.navigation-search__input {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 0.12px;
  background-color: transparent;
  border: none;
  padding: 20px 28px;
  width: 90%;
  outline: none;
}

.navigation-search__input:focus {
  border: none;
}

.navigation-search__input:active {
  border: none;
}

.navigation-search__submit-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 64px;
  height: 64px;
  outline: none;
  background: url('../images/img/search.svg') no-repeat center center;
}

.navigation-search__submit-button:focus {
  border: none;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .navigation-search {
    display: none;
  }
}
