.step {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 11px;
  background-color: #3764BF;
  color: $white;
}
