.tableWrapper {
  width: 100%;
  border-radius: 4px;
  border: 0.5px solid #e6e6ea;
  display: block;
  overflow-x: auto;
  margin-bottom: 64px;
  margin-top: 25px;

  table {
    margin: 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 15px;
  line-height: 23px;
  text-align: left;
  color: #222;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 64px;

  tr {
    td,
    th {
      border: 0.5px solid #e6e6ea;
      padding: 11px 18px;

      &:last-of-type {
        border-right: none;
      }
    }

    td {
      color: #3C3C3C;

      &:first-of-type {
        border-left: none;
      }
    }

    th {
      background: #f7f8fa;
      font-weight: 600;
      vertical-align: top;

      &:first-of-type {
        border-left: none;
        border-right: 0.5px solid #e6e6ea;
      }
    }

    &:first-of-type {
      th,
      td {
        border-top: none;
      }
    }

    &.separator {
      td,
      th {
        height: 6px;
        padding: 0;
        border-left: none;
        border-right: none;
        background: #f7f8fa;
      }
    }
  }
}

@media screen and (max-width: $main-mobile-navigation-breakpoint) {
  table {
    font-size: 12px;
    line-height: 18px;
  }

  td {
    padding: 9px;
  }
}
