.page-toc {
  margin-top: 95px;

  ul {
    margin: 0;
    padding: 0;
    padding-left: 10px;
  }

  a {
    color: #3C3C3C;
    font-size: 13px;
    line-height: 17px;
  }

  h4 {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 2.34px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
}

#toc-popup {
  display: none;

  .page-toc {
    display: none;
  }
}

.toc-wrapper {
  padding-left: 10px;
  position: sticky;
  top: 20px;
}

.toc-wrapper > ul {
  border-left: 2px solid #eee;
  padding-left: 13px;
  padding-bottom: 25px;
}

.page-toc__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #DFDFE4;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(223, 223, 228, 0.5);
  padding: 0;
  margin-left: auto;

  img {
    opacity: 0.2;
  }
}

.page-toc__toggle:hover img {
  opacity: 1;
}

@media (max-width: $main-extra-large-breakpoint) {
  .page-toc {
    display: none;
  }

  #toc-popup {
    display: block;
    position: sticky;
    top: 90px;
    right: 40px;
    margin-bottom: -35px;
    z-index: 100;
  }

  #toc-popup.show .page-toc {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #DFDFE4;
    box-shadow: 0px 2px 6px rgba(223, 223, 228, 0.5);
    border-radius: 4px;
    width: 195px;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: 7px;
      width: 16px;
      height: 8px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #DFDFE4;
    }

    &::after {
      content: '';
      position: absolute;
      top: -8px;
      right: 9px;
      width: 12px;
      height: 8px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #FFF;
    }

    .toc-wrapper {
      padding: 0;

      h4 {
        padding-left: 10px;
        margin-bottom: 14px;
      }

      ul {
        border: none;
        padding-left: 5px;
      }
    }
  }
}