@import 'functions/_tint';

/**
 * Breakpoints
 */
$breakpoints: (
  'small': 540px,
  '<small': 539px,
  'medium': 720px,
  '<medium': 719px,
  'large': 960px,
  '<large': 959px,
  'extra-large': 1280px,
  '<extra-large': 1259px,
  'huge': 1440px,
  '<huge': 1439px
);

$main-extra-large-breakpoint: 1280px;
$mobile-navigation-breakpoint: 980px;
$main-mobile-navigation-breakpoint: 540px;
$small-mobile-navigation-breakpoint: 320px;

/**
 * Grid
 */
$site-width: 1440px;
$column-width: 25%;
$gutter-width: 50px;
$content-width: 940px;

/**
 * Colors
 */
$white: #ffffff;
$white-grey: #F7F8FA;
$grey-lightest: tint(#000, 98%);
$grey-lighter: tint(#000, 90%);
$grey-light: tint(#000, 80%);
$grey-medium: #e6e6e6;
$grey-medium-light: tint(#000, 70%);
$grey-medium-dark: tint(#000, 51%);
$grey-dark: tint(#000, 35%);
$grey-darkest: tint(#000, 20%);
$grey-boulder: #777777;
$grey-dusty: #999999;
$blackish-grey: #3C3C3C;
$blackish: #1B1B1B;
$black: #000000;
$cream: #F8F6F1;
$orange-reno-sand: #a25d11;
$orange-pancho: #efcca5;
$orange-anzac: #e0994c;
$blue-cornflower: #7373ff;

$text-color: $blackish;

$brand-primary: #4373DC;
$brand-primary-hover: #0056b3;
$brand-warning: #ffb100;

$store-b2b: #92b398;
$store-b2c: #589fac;

$color-error: #C0292C;
$color-success: #4cd964;

$color-payments: #00acff;
$text-color-payments: #072a4c;

$color-recurring: #ffc64f;
$text-color-recurring: #733517;

/**
 * Type
 */
$font-family-default: 'Neue Haas Grotesk Text Std','Inter UI', 'Calibre', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// No max line-length for monospace fonts
// stylelint-disable-next-line max-line-length
$font-family-monospace: 'SFMono', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$line-height-default: 1.5;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-extra-bold: 700;

$navigation-height: 45px;
