@keyframes spin {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}

.landing-page-footer {
  padding-bottom: 0;
  background-color: #000000;

  ul {
    padding: 0;
    list-style: none;
  }
}

.footer__navigation-group {
  margin: 0 20px;

  ul {
    margin: 0;
    margin-top: 25px;
  }
}

.footer__navigation-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}

.animation-wrapper {
  margin: 0 auto;
  margin-top: 130px;
  position: relative;
  width: 734px;
  height: 325px;
  overflow: hidden;
}

.centra-commerce-animation {
  position: absolute;
  bottom: -412px;
  left: 0;
  width: 734px;
  height: 734px;
  background: url('../images/img/centra-commerce.svg') no-repeat 50% 0;
  background-size: contain;
  animation-name: spin;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@media (max-width: $mobile-navigation-breakpoint) {
  .section-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__navigation-group {
    margin-bottom: 35px;
    min-width: 100px;
  }

  .footer__navigation-link {
    font-size: 14px;
  }

  .animation-wrapper {
    display: none;
  }
}