.landing-page {
  transition: background-color 0.3s;

  &.black {
    background-color: $black;
  }

  &.white {
    background-color: $cream;
  }
}

.landing-page-section {
  width: 100%;
  padding: 130px 80px 100px 60px;
  position: relative;
  font-size: 1em;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1265px;
  margin: 0 auto;
}

.landing-page {
  [data-aos="content-animation-get-started"] {
    opacity: 0;
    transform: translateY(7%);

    &.aos-animate {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: transform 0.6s linear, opacity 0.6s linear;
      transition-delay: 0.6s;
    }
  }

  [data-aos="graphics-animation-get-started"] {
    opacity: 0;
    transform: translateY(3%);

    &.aos-animate {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: transform 0.6s linear, opacity 0.6s linear;
      transition-delay: 0.3s;
    }
  }

  [data-aos="lift-cards"] {
    opacity: 0;
    margin-top: 40px;

    &.aos-animate {
      margin-top: 11px;
      transition: margin-top 0.2s;
      opacity: 1;
    }
  }

  [data-aos="lift-name-section"] {
    opacity: 0;
    transform: translateY(50%);

    &.aos-animate {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: transform 0.6s linear, opacity 0.6s linear;
    }
  }

  [data-aos="lift-2-percent"] {
    opacity: 0;
    transform: translateY(2%);

    &.aos-animate {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: transform 0.6s linear, opacity 0.6s linear;
    }
  }

  [data-aos="lift-6-percent"] {
    opacity: 0;
    transform: translateY(5%);

    &.aos-animate {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: transform 0.6s linear, opacity 0.6s linear;
      transition-delay: 0.3s;
    }
  }

  [data-aos="lift-docs-cards"] {
    opacity: 0;
    margin-top: 40px;

    &.aos-animate {
      margin-top: 11px;
      opacity: 1;
      transform: translateY(-50px);
      @include transition(3);
    }
  }

  [data-aos="lift-basics-cards"] {
    opacity: 0;
    margin-top: 40px;

    &.aos-animate {
      margin-top: 15px;
      opacity: 1;
      transform: translateY(-50px);
      @include transition(6);
    }
  }

  [data-aos="lift-footer-group"] {
    opacity: 0;
    transform: translateY(30px);

    &.aos-animate {
      margin-top: 15px;
      opacity: 1;
      transform: translateY(0);
      @include footer-cascade(5);
    }
  }
}

.landing-page__button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.12px;
  display: flex;
  align-items: center;
  padding: 0;

  .landing-page__button-arrow {
    position: relative;
    width: 18px;
    height: 20px;
    margin-left: 10px;
    transform: scaleX(1);
    transition: .5s ease-out;
    background: url('../images/img/arrow-right-black.svg') no-repeat 50% 50%;
  }

  &:hover .landing-page__button-arrow {
    transform: translate3d(10px, 0, 0);
  }

  &.white {
    color: $white;

    .landing-page__button-arrow {
      background: url('../images/img/arrow-right-white.svg') no-repeat 50% 50%;
    }
  }

  &.black {
    color: $black;
  }
}

.section-content {
  max-width: 560px;
}

.section-title {
  font-size: 3em;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.section-title::after {
  display: none;
}

.section-text {
  font-size: 1.4em;
  margin-bottom: 45px;
  line-height: 1.2em;
}

.name-section {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: $black;
}

@media (max-width: $main-extra-large-breakpoint) {
  .landing-page-section {
    font-size: 0.8em;
    padding-top: 130px;
    padding-bottom: 180px;
  }

  .section-title {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .landing-page-section {
    padding: 80px 37px 1px;
    font-size: 0.6em;

    .section-wrapper {
      margin-top: 20px;
      margin-bottom: 0;

      .section-content {
        margin: 0;
      }
    }

    .section-text {
      font-size: 1.8em;
    }
  }

  .name-section {
    font-size: 18px;
  }

  .landing-page__button {
    font-size: 18px;
  }
}

@media (max-width: $main-mobile-navigation-breakpoint) {
  .landing-page-section {
    padding: 40px 28px 1px 28px;
  }

  .landing-page__button {
    font-size: 13px;
  }

  .section-title {
    font-size: 3.2em;
  }
}

@media (max-width: $small-mobile-navigation-breakpoint) {
  .landing-page-section {
    padding-right: 20px;
    padding-left: 20px;
  }
}
