.support-section {
  padding: 0;
  background-color: $white;

  .section-wrapper {
    flex-direction: column;
    margin: 0;
    max-width: 100%;
  }

  .name-section {
    margin-top: 70px;
    margin-bottom: 45px;
  }

  .section-title {
    margin-bottom: auto;
  }
}

.support-wrapper {
  display: flex;
  justify-content: space-between;
}

.support-section__content {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  flex: 1;
}

.support-section__team-avatars {
  margin-bottom: 40px;
  width: 180px;
}

.support-section__team.team-big {
  width: 50%;
  height: 100%;
  flex: 1;
}

.support-section__team.team-small {
  display: none;
}

@media (min-width: 1570px) {
  .support-section__content {
    padding-right: 154px;

    .section-title {
      font-size: 50px;
    }

    .section-text {
      font-size: 30px;
    }
  }
}

@media (max-width: 1325px) {
  .support-section {
    padding-right: 0;
  }
}

@media (max-width: 1360px) {
  .support-section__content {
    .name-section {
      margin-bottom: 30px;
    }
  
    .section-title {
      margin-bottom: 35px;
      font-size: 2.5em;
    }

    .section-text {
      font-size: 1.4em;
    }
  }
}

@media (max-width: $main-extra-large-breakpoint) {
  .support-section__content {
    .name-section {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  
    .section-title {
      margin-bottom: 20px;
    }

    .support-section__team-avatars {
      margin-bottom: 20px;
    }

    .section-text {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .support-section {
    padding: 13px 37px 0;

    .name-section {
      margin-top: 0;
    }

    .section-text {
      font-size: 1.8em;
    }
  }

  .support-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .support-section__team.team-small {
    width: 100%;
    height: auto;
    display: block;
  }

  .support-section__team.team-big {
    display: none;
  }

  .support-section__team-avatars {
    width: 230px;
    margin-bottom: 25px;
  }
}

@media (max-width: $main-mobile-navigation-breakpoint) {
  .support-section__content {
    padding: 0;
  }
}
