.hero-section {
  color: $white;
  background-color: $black;
  min-height: 90vh;
  display: flex;
  align-items: center;
  transform: translateY(2%);
  opacity: 0;
  padding-top: 30px;

  .section-content {
    margin-top: 100px;
  }
}

.hero-section.show {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 1s linear, opacity 1s linear;
}

.hero-section__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1265px;
  margin: 0 auto;
  letter-spacing: 0.12px;
}
  
.hero-section__graphics {
  width: 680px;
  position: relative;
  z-index: 0;
  background: url('../images/img/stroke-background-hero.svg') no-repeat 50% 25%;
  background-size: contain;
}
  
.graphics__code-window {
  border: 2px solid $white;
  background-color: $black;
  box-sizing: border-box;
  border-radius: 26px;
  height: 300px;
  max-width: 530px;
  min-width: 255px;
  margin: 100px 25px 100px 65px;
  font-family: 'Andale Mono', Monospace;
  font-size: 9px;
}
  
.picture-layout__slider {
  position: absolute;
  bottom: -11px;
  right: 31%;
  width: 70px;
  height: 40px;
  background: url('../images/img/toggle.png') no-repeat center center;
  background-size: contain;
  animation: swimming1 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__stack {
  position: absolute;
  top: -70px;
  left: 22%;
  width: 210px;
  height: 175px;
  background: url('../images/img/stack.svg') no-repeat center center;
  animation: swimming2 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__smile {
  position: absolute;
  bottom: 150px;
  right: 17px;
  width: 76px;
  height: 60px;
  background: url('../images/img/smile.svg') no-repeat center center;
  animation: swimming3 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__hand {
  position: absolute;
  bottom: 85px;
  left: -8%;
  width: 189px;
  height: 100px;
  background: url('../images/img/Hand-Illustration-7.png') no-repeat center center;
  background-size: cover;
  animation: swimming4 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__screen-product {
  position: absolute;
  top: 30px;
  right: 4%;
  width: 230px;
  height: 179px;
  background: url('../images/img/screen-product.svg') no-repeat center center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    height: 179px;
    background: url('../images/img/screen-product-unchecked.svg') no-repeat center center;
  }
}

.picture-layout__screen-product.checked::before {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .hero-section {
    padding: 80px 20px 5px;
  }

  .hero-section__wrapper {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 25px;
    align-items: center;
  }
    
  .hero-section__content {
    margin: 0 0 10px 0;
  }

  .hero-section__graphics {
    width: auto;
    margin-top: 53px;
    order: 2;
  }

  .graphics__code-window {
    height: 216px;
    width: 380px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .picture-layout__slider {
    top: -40px;
    left: 0;
    width: 50px;
    height: 25px;
  }
  
  .picture-layout__stack {
    display: none;
  }
  
  .picture-layout__smile {
    bottom: 41px;
    right: 27px;
    width: 76px;
    height: 59px;
    background-size: contain;
  }
  
  .picture-layout__hand {
    bottom: 0;
    left: -25px;
    width: 135px;
    height: 78px;
    background-size: contain;
  }
  
  .picture-layout__screen-product {
    top: -17px;
    right: -25px;
    width: 146px;
    height: 114px;
    background-size: contain;

    &::before {
      top: 0;
      right: 0;
      width: 146px;
      height: 114px;
      background-size: contain;
    }
  }
}

@media (max-width: $main-mobile-navigation-breakpoint) {
  .graphics__code-window {
    height: 179px;
    width: 314px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .picture-layout__slider {
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
  }
  
  .picture-layout__stack {
    display: none;
  }
  
  .picture-layout__smile {
    bottom: 41px;
    right: 27px;
    width: 76px;
    height: 59px;
    background-size: contain;
  }
  
  .picture-layout__hand {
    bottom: 0;
    left: -17px;
    width: 135px;
    height: 78px;
    background-size: contain;
  }
  
  .picture-layout__screen-product {
    top: 0px;
    right: -1px;
    width: 146px;
    height: 114px;
    background-size: contain;

    &::before {
      top: 0px;
      right: 0;
      width: 146px;
      height: 114px;
      background-size: contain;
    }
  }
}

@media (max-width: $small-mobile-navigation-breakpoint) {
  .graphics__code-window {
    width: 280px;
  }
}