.basic-section {
  color: #ffffff;
  background-color: $cream;
  transition: background-color 0.5s;
  background-color: #ffffff;
  
  &.black {
    background-color: #000000;
  }

  .section-wrapper {
    flex-direction: column;
  }

  .name-section {
    text-align: center;
    color: #ffffff;
    margin-bottom: 100px;
  }
}

.basic-section__articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.basic-section__article {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 386px;
  margin: 11px;
  padding: 66px 45px 110px;
  border: 2px solid #141414;
  box-sizing: border-box;

  .landing-page__button-arrow {
    opacity: 0;
    margin-left: 22px;
  }

  &:hover {
    background-color: #141414;
    transform: scale(1.02) translateZ(0);
    transition: transform 0.2s cubic-bezier(0.01, 0.56, 0.44, 1), background-color 0.2s cubic-bezier(0.01, 0.56, 0.44, 1);

    .landing-page__button-arrow {
      opacity: 1;
    }
  }

  h3 {
    font-size: 24px;
    margin: 75px 0;
    font-weight: normal;
  }

  p {
    font-size: 16px;
    line-height: 1.8em;
    margin: 0;
  }
}

.landing-page__button-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;

  &.icon-eye {
    background-image: url('../images/img/icon-eye.svg');
  }

  &.icon-square {
    background-image: url('../images/img/icon-square.svg');
  }

  &.icon-sun {
    background-image: url('../images/img/icon-sun.svg');
  }

  &.icon-rhomb {
    background-image: url('../images/img/icon-rhomb.svg');
  }

  &.icon-people {
    background-image: url('../images/img/icon-people.svg');
  }

  &.icon-rainbow {
    background-image: url('../images/img/icon-rainbow.svg');
  }
}

@media (max-width: 1370px) {
  .basic-section__article {
    max-width: 310px;

    h3 {
      margin: 25px 0;
    }
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .basic-section .name-section {
    margin-bottom: 50px;
  }

  .basic-section__articles-wrapper {
    padding-top: 60px;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .basic-section__article {
    min-width: 270px;
    margin: 6px;
    background-color: #141414;

    &:hover .landing-page__button-arrow {
      opacity: 0;
    }

    h3 {
      font-size: 18px;
    }
    
    p {
      font-size: 13px;
    }
  }
}