.docs-section {
  flex-direction: column;

  .name-section {
    text-align: center;
  }
}

.docs__articles-wrapper {
  padding: 100px 80px 0;
  display: flex;
  justify-content: space-between;
}

.docs__article {
  cursor: pointer;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);
  max-width: 386px;
  padding: 50px 45px 80px;
  letter-spacing: 0.12px;
  font-size: 22px;
  margin: 11px;
  opacity: 0;
  @include transition(3);
  
  a {
    color: #000;
  }

  .landing-page__button {
    opacity: 0;
    margin-top: 5px;
    height: fit-content;
  }

  &:hover {
    .landing-page__button {
      opacity: 1;
    }
  }
}

#docs-section .docs__article:hover {
  transform: scale(1.02) translateZ(0) translateY(-50px);
  transition: transform 0.2s cubic-bezier(.165,.84,.44,1);
}

.article__graphics-wrapper {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-end;
}

.article__graphics {
  display: block;
  margin: 0 auto;
  max-height: 225px;
}

.article__title {
  margin-top: 48px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  height: 3em;
}

.article__text {
  font-size: 17px;
  line-height: 1.9em;
  margin: 0;
}

.docs__background {
  position: absolute;

  &.background-circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #231F20;
    left: 3%;
    bottom: 21%;
    animation: swimming-diagonal 18s infinite;
    animation-direction: alternate;
  }

  &.background-dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #231F20;
    right: 5%;
    bottom: 40%;
    animation: swimming-diagonal-up 18s infinite;
    animation-direction: alternate;
  }
}

@media screen and (max-width: $main-extra-large-breakpoint) {
  .docs-wrapper {
    padding: 150px 125px;
  }

  .docs__articles-wrapper {
    padding: 50px 20px 0;
  }

  .docs__article {
    padding: 50px 30px;
    width: 300px;
    font-size: 18px;
    line-height: 24px;
    min-width: 270px;
  }

  .article__graphics-wrapper {
    height: 200px;
  }
}

@media screen and (max-width: $mobile-navigation-breakpoint) {
  .landing-page-section.docs {
    padding-left: 0;
    padding-right: 0;
  }

  .docs__articles-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 70px 35px 5px;
  }

  .docs__article {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
    position: relative;
  }

  .docs__article:hover {
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.16);
  }

  .docs__article:last-child::after {
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    width: 35px;
    height: 1px;
  }

  .article__title {
    margin-top: 20px;
    font-size: 20px;
    height: 2em;
  }

  .article__text {
    font-size: 13px;
  }

  .docs-section {
    padding: 25px 0;
    margin-bottom: 0; 
  }

  .docs__background {
    &.background-circle {
      width: 28px;
      height: 28px;
      bottom: 11%;
      left: -12px;
    }

    &.background-dot {
      top: 14%;
      right: 15%;
      width: 13px;
      height: 13px;
    }
  }
}
