@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.certification-section {
  display: flex;
  align-items: center;
  background-color: $cream;
  flex-direction: column;

  .name-section {
    margin-bottom: 100px;
  }

  .section-wrapper {
    max-width: 1265px;
  }

  .section-content {
    min-width: 380px;
    padding-top: 50px;
  }
}

.certification-section__graphics {
  position: relative;
  margin-right: 50px;
  padding: 50px;

  .gray-strokes {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 630px;
    height: 580px;
    background: url('../images/img/cream-strokes.svg') no-repeat center center;
  }

  .graphics-team-avatars {
    max-width: 615px;
  }

  .graphic-bricks {
    position: absolute;
    left: 0;
    top: 0;
    width: 184px;
    height: 94px;
    background: url('../images/img/Info-lines.png') no-repeat 50% 50%;
    background-size: contain;
    animation: swimming3 10s infinite;
    animation-direction: alternate;
  }

  .graphic-circle {
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #231F20;
    animation: swimming-diagonal-up 10s infinite;
    animation-direction: alternate;
  }

  .graphic-black-smile {
    position: absolute;
    right: 18%;
    top: 5%;
    width: 35px;
    height: 35px;
    background: url('../images/img/black-smile.svg') no-repeat 50% 50%;
    background-size: contain;
    animation: swimming-diagonal 10s infinite;
    animation-direction: alternate;
  }
}

@media (max-width: $main-extra-large-breakpoint) {
  .certification-section__graphics {
    margin-right: 12px;

    .graphics-team-avatars {
      width: 400px;
    }

    .gray-strokes {
      width: 500px;
      height: 400px;
      background-size: contain;
    }
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .certification-section {
    padding-bottom: 40px;

    .name-section {
      margin-bottom: 30px;
    }

    .section-wrapper {
      flex-direction: column;
      width: auto;
      align-items: flex-end;
      margin-top: 0;
    }

    .section-content {
      min-width: 300px;
    }

    .certification-section__graphics {
      margin: 0 auto;
      padding: 0;
    }

    .gray-strokes {
      width: 320px;
      height: 290px;
      background-size: contain;
    }

    .graphics-team-avatars {
      width: 320px;
      margin-top: 48px;
      margin-top: 65px;
    }

    .graphic-bricks {
      width: 108px;
      height: 47px;
      top: 16px;
    }

    .graphic-black-smile {
      width: 26px;
      height: 26px;
    }

    .graphic-circle {
      width: 36px;
      height: 36px;
    }
  }
}

@media (max-width: $main-mobile-navigation-breakpoint) {
  .certification-section {
    .section-content {
      min-width: 280px;
    }

    .graphics-team-avatars {
      width: 280px;
    }

    .gray-strokes {
      width: 280px;
    }
  }
}

@media (max-width: $small-mobile-navigation-breakpoint) {
  .certification-section {
    .graphics-team-avatars {
      width: 230px;
    }

    .gray-strokes {
      width: 230px;
    }
  }
}
