.get-started-section {
  color: $black;
  min-height: 70vh;
  display: flex;
  align-items: center;

  .section-content {
    margin-top: 140px;
  }

  .hero-section__graphics {
    margin-right: 75px;
  }

  .graphics__code-window {
    border: none;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    margin: 190px 45px 0 48px;
    max-width: 520px;
    height: 240px;
    position: relative;
  }
}

.hero-section__graphics.stroke-background {
  width: 645px;
  background: url('../images/img/stroke-background-grey.svg') no-repeat 50% 25%;
  background-size: contain;
}

.picture-layout__circle {
  position: absolute;
  top: 25px;
  right: 25%;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 3px solid #231F20;
  animation: swimming-diagonal-up 20s infinite;
  animation-direction: alternate;
}

.picture-layout__artboard {
  position: absolute;
  top: -115px;
  right: -7%;
  width: 62%;
  height: 225%;
  background: url('../images/img/Artboard19@3x.png') no-repeat 50% 0%;
  background-size: contain;
}

.picture-layout__dot {
  position: absolute;
  top: 530px;
  left: 205px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $black;
  animation: swimming-diagonal 20s infinite;
  animation-direction: alternate;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .get-started-section {
    .section-content {
        margin: 0;
    }

    .hero-section__graphics {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .graphics__code-window {
        height: 216px;
        width: 380px;
        margin: 0 auto;
        margin-top: 55px;
    }
  }

  .hero-section__graphics.stroke-background {
    height: 300px;
    width: 380px;
    background-image: url('../images/img/stroke-background-small-grey.svg');
  }

  .picture-layout__circle {
    border-width: 2px;
    top: 23px;
    left: 75px;
    width: 30px;
    height: 30px;
  }

  .picture-layout__artboard {
    top: -80px;
    right: -10px;
    width: 195px;
    height: 360px;
    background-size: contain;
  }

  .picture-layout__dot {
    top: 307px;
    left: 0;
    width: 10px;
    height: 10px;
  }
}

@media (max-width: $main-mobile-navigation-breakpoint) {
  .get-started-section {
    .graphics__code-window {
      height: 179px;
      width: 310px;
    }
  }

  .hero-section__graphics.stroke-background {
    width: 100%;
  }

  .picture-layout__artboard {
    top: -73px;
    right: -13px;
    width: 148px;
    height: 274px;
    background-size: contain;
  }
}

@media (max-width: $small-mobile-navigation-breakpoint) {
  .get-started-section .graphics__code-window {
    width: 280px;
  }
}