.landing-page {
  transition: background-color 0.3s;

  &.black {
    background-color: #000000;
  }

  &.white {
    background-color: #ffffff;
  }
}

.landing-page-section {
  width: 100%;
  padding: 230px 80px 280px 60px;
  position: relative;
  font-size: 1em;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1265px;
  margin: 0 auto;
}

.landing-page .has-to-lift {
  opacity: 0;
  visibility: hidden;
  margin-top: 80px;
}

.landing-page .hero-section__graphics.has-to-lift,
.landing-page img.has-to-lift,
.landing-page .picture-layout__circle.has-to-lift {
  transform: translateY(0) scale(0.9);
}

.footer__navigation-group.has-to-lift {
  margin-top: 0;
}

.landing-page .hero-section__graphics.liftElement,
.landing-page img.liftElement,
.landing-page .picture-layout__circle.liftElement {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: transform 0.5s linear, opacity 0.5s linear, visibility 0.5s linear;
}

.footer__navigation-group.liftElement {
  transform: translateY(-50px);
  transition: transform 0.35s linear;
}

.landing-page .liftElement {
  visibility: visible;
  margin-top: 11px;
  transition: margin-top 0.3s;
  opacity: 1;
}

.landing-page__button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.12px;
  display: flex;
  align-items: center;
  padding: 0;

  .landing-page__button-arrow {
    position: relative;
    width: 18px;
    height: 20px;
    margin-left: 10px;
    transform: scaleX(1);
    transition: .5s ease-out;

    &::before {
      content: '';
      width: 18px;
      height: 2px;
      position: absolute;
      top: 10px;
      background-color: #000000;
      display: block;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      width: 12px;
      height: 12px;
      transform: rotate(-45deg);
      top: 5px;
      right: 0;
    }
  }

  &:hover .landing-page__button-arrow {
    transform: translate3d(10px, 0, 0);
  }

  &.white {
    color: #ffffff;

    .landing-page__button-arrow::before {
      background-color: #ffffff;
    }

    .landing-page__button-arrow::after {
      border-color: #ffffff;
    }
  }

  &.black {
    color: #000000;
  }
}

.section-content {
  max-width: 560px;
}

.section-title {
  font-size: 3em;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.section-title::after {
  display: none;
}

.section-text {
  font-size: 1.4em;
  margin-bottom: 45px;
  line-height: 1.2em;
}

.name-section {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

@media (max-width: $main-extra-large-breakpoint) {
  .landing-page-section {
    font-size: 0.8em;
    padding-top: 130px;
    padding-bottom: 180px;
  }

  .section-title {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .landing-page-section {
    padding: 80px 37px 1px;
    font-size: 0.6em;
  }

  .section-wrapper {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .name-section {
    font-size: 18px;
  }

  .landing-page__button {
    font-size: 13px;
  }
}
