.certification-section {
  display: flex;
  align-items: center;
  background-color: #ffffff;

  .section-wrapper {
    align-items: center;
  }
}

.certification-section__team-avatars {
  max-width: 520px;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .certification-section {
    padding-bottom: 40px;

    .section-wrapper {
      flex-direction: column;
    }

    .section-title {
      margin-bottom: 100px;
    }
  }

  .certification-section__team-avatars {
    width: 330px;
    margin-left: auto;
    margin-right: 10%;
    margin-top: -70px;
  }
}

@media (max-width: 510px) {
  .certification-section .section-title {
    margin-bottom: 30px;
  }

  .certification-section__team-avatars {
    margin: 0;
    width: 170px;
  }
}