@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.certification-section {
  display: flex;
  align-items: center;
  background-color: $cream;
  flex-direction: column;

  .name-section {
    margin-bottom: 100px;
  }

  .section-wrapper {
    max-width: 1265px;
  }

  .section-content {
    min-width: 380px;
    padding-top: 50px;
  }
}

.certification-section__graphics {
  position: relative;
  margin-right: 50px;
  padding: 50px;

  .gray-strokes {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 630px;
    height: 580px;
    background: url('../images/img/cream-strokes.svg') no-repeat center center;
  }

  .graphics-team-avatars {
    max-width: 615px;
  }

  .graphic-bricks {
    position: absolute;
    left: 0;
    top: 0;
    width: 184px;
    height: 94px;
    background: url('../images/img/green-bricks.png') no-repeat 50% 50%;
    background-size: contain;
    animation: swimming3 10s infinite;
    animation-direction: alternate;
  }

  .graphic-circle {
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #231F20;
    animation: swimming-diagonal-up 10s infinite;
    animation-direction: alternate;
  }

  .graphic-black-smile {
    position: absolute;
    right: 18%;
    top: 5%;
    width: 35px;
    height: 35px;
    background: url('../images/img/black-smile.svg') no-repeat 50% 50%;
    background-size: contain;
    animation: swimming-diagonal 10s infinite;
    animation-direction: alternate;
  }
}

@media (max-width: $main-extra-large-breakpoint) {
  .certification-section__graphics {
    margin-right: 12px;

    .graphics-team-avatars {
      width: 400px;
    }

    .gray-strokes {
      width: 500px;
      height: 400px;
      background-size: contain;
    }
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .certification-section {
    padding-bottom: 40px;

    .name-section {
      margin-bottom: 30px;
    }

    .section-wrapper {
      flex-direction: column;
      width: auto;
      align-items: flex-end;
    }

    .certification-section__graphics {
      margin: 0 auto;
    }
  }
}

@media (max-width: 525px) {
  .certification-section {
    .section-content {
      margin-bottom: 28px;
    }

    .section-title {
      margin-bottom: 30px;
    }
  }

  .certification-section__graphics {
    padding: 8px;

    .graphics-team-avatars {
      margin: 0;
      width: 300px;
    }

    .gray-strokes {
      width: 350px;
      height: 280px;
      right: 0;
      top: -33px;
    }
  
    .graphic-bricks {
      width: 95px;
      height: 60px;
      top: -25px;
      left: -33px;
    }
  
    .graphic-circle {
      width: 20px;
      height: 20px;
      bottom: -50px;
    }
  
    .graphic-green-smile {
      width: 12px;
      height: 12px;
      top: -10px;
    }
  }

  .graphics-team-avatars {
    width: 270px;
    margin-left: auto;
    margin-right: 10%;
    margin-top: -70px;
  }
}