.hero-section {
  color: #ffffff;
  background-color: #000000;
  min-height: 80vh;
  display: flex;
  align-items: center;
  transform: translateY(2%);
  opacity: 0;
  padding-top: 30px;

  .section-content {
    margin-top: 100px;
  }
}

.hero-section.show {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 1s linear, opacity 1s linear;
}

.hero-section__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1265px;
  margin: 0 auto;
  letter-spacing: 0.12px;
}
  
.hero-section__graphics {
  width: 710px;
  position: relative;
  z-index: 0;
  background: url(/user/themes/centra/images/img/stroke-background-dark.svg) no-repeat 50% 25%;
  background-size: contain;
}
  
.graphics__code-window {
  border: 2px solid #FFFFFF;
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 26px;
  height: 300px;
  max-width: 530px;
  min-width: 255px;
  margin: 100px 25px 100px 65px;
  font-family: 'Andale Mono', Monospace;
  font-size: 9px;
}
  
.picture-layout__slider {
  position: absolute;
  bottom: -11px;
  right: 31%;
  width: 133px;
  height: 101px;
  background: url('../images/img/slider.svg') no-repeat center center;
  animation: swimming1 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__stack {
  position: absolute;
  top: -70px;
  left: 22%;
  width: 210px;
  height: 175px;
  background: url('../images/img/stack.svg') no-repeat center center;
  animation: swimming2 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__smile {
  position: absolute;
  bottom: 150px;
  right: 0;
  width: 76px;
  height: 60px;
  background: url('../images/img/smile.svg') no-repeat center center;
  animation: swimming3 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__hand {
  position: absolute;
  bottom: 85px;
  left: -8%;
  width: 189px;
  height: 100px;
  background: url('../images/img/Hand-Illustration-7.png') no-repeat center center;
  background-size: cover;
  animation: swimming4 10s infinite;
  animation-direction: alternate;
}
  
.picture-layout__screen-product {
  position: absolute;
  top: 30px;
  right: 70px;
  width: 230px;
  height: 179px;
  background: url('../images/img/screen-product.svg') no-repeat center center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    height: 179px;
    background: url('../images/img/screen-product-unchecked.svg') no-repeat center center;
  }
}

.picture-layout__screen-product.checked::before {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .hero-section {
    padding: 80px 20px 5px;
  }

  .hero-section__wrapper {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 25px;
    align-items: center;
  }
    
  .hero-section__content {
    margin: 0 0 10px 0;
  }

  .hero-section__graphics {
    width: auto;
    margin-top: 53px;
    order: 2;
  }

  .graphics__code-window {
    height: 263px;
    width: 255px;
    margin: 0 auto;
  }

  .picture-layout__slider {
    display: none;
  }
  
  .picture-layout__stack {
    top: -28px;
    left: -30px;
    width: 75px;
    height: 62px;
    background-size: contain;
    z-index: -2;
  }
  
  .picture-layout__smile {
    top: 144px;
    left: -55px;
    width: 41px;
    height: 32px;
    background-size: contain;
  }
  
  .picture-layout__hand {
    top: 200px;
    left: -65px;
    width: 104px;
    height: 55px;
    background-size: contain;
  }
  
  .picture-layout__screen-product {
    top: -40px;
    right: -22px;
    width: 146px;
    height: 114px;
    background-size: contain;
  }
}