.request-access-bar {
  width: 100%;
  position: sticky;
  bottom: 0;
  text-align: center;
  z-index: 100;

  a {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    font-size: 26px;
    line-height: 62px;
    font-weight: bold;

    &:hover {
      color: #000000;
      background-color: #ffffff;
      transition: all .2s ease-in-out;
    }
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .request-access-bar a {
    font-size: 22px;
    line-height: 50px;
  }
}