@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
  opacity: 0;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.request-access-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 0 33px;
  bottom: 0;
  text-align: center;
  z-index: 100;
  animation-duration: 0.2s;
  background-color: $black;

  a {
    height: 43px;
    padding: 5px 30px;
    color: $white;
    background-color: $black;
    border: 2px solid $white;
    border-radius: 22px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    &:hover {
      color: $black;
      background-color: $white;
      transition: all .2s ease-in-out;
    }
  }

  .text {
    flex: 8;
    color: #6f6f6f;
    font-size: 18px;
    line-height: 22px;
  }

  .c-logo {
    display: inline-block;
    flex: 1;
    width: 30px;
    height: 30px;
    background: url('../images/img/c-logo.svg') no-repeat center left;
  }
}

@media screen and (max-width: $mobile-navigation-breakpoint) {
  .request-access-bar {
    .text {
      display: none;
    }
  }
}

@media screen and (max-width: $main-mobile-navigation-breakpoint) {
  .request-access-bar {
    .c-logo {
      display: none;
    }

    a {
      width: 100%;
    }
  }
}
