<footer class="landing-page-section landing-page-footer support-footer" id="landing-page-footer">
  <img src="{{ url("theme://images/img/centra-logo.png")}}" alt="Centra" class="footer__centra-logo" data-aos="lift-6-percent">
  <ul class="section-wrapper" id="landing-page-footer-navigation">
    <li class="footer__navigation-group" data-aos="lift-footer-group">
      <a class="footer__navigation-link">Hi!</a>
      <ul>
        <li><a class="footer__navigation-link"><img src="{{ url("theme://images/img/support/linkedin.svg")}}" class="social-icon"> LinkedIn</a></li>
        <li><a class="footer__navigation-link"><img src="{{ url("theme://images/img/support/instagram.svg")}}" class="social-icon"> Instagram</a></li>
      </ul>
    </li>
    <li class="footer__navigation-group" data-aos="lift-footer-group">
      <a class="footer__navigation-link">Company</a>
      <ul>
        <li><a class="footer__navigation-link">Customer success</a></li>
        <li><a class="footer__navigation-link">Contact us</a></li>
        <li><a class="footer__navigation-link">In the media</a></li>
        <li><a class="footer__navigation-link">Careers</a></li>
      </ul>
    </li>
    <li class="footer__navigation-group" data-aos="lift-footer-group">
      <a class="footer__navigation-link">Products</a>
      <ul>
        <li><a class="footer__navigation-link">Direct-to-consumer</a></li>
        <li><a class="footer__navigation-link">Digital wholesale</a></li>
        <li><a class="footer__navigation-link">Case studies</a></li>
      </ul>
    </li>
    <li class="footer__navigation-group" data-aos="lift-footer-group">
      <a class="footer__navigation-link">Partners</a>
      <ul>
        <li><a class="footer__navigation-link">Integration partners</a></li>
        <li><a class="footer__navigation-link">Solution partners</a></li>
      </ul>
    </li>
    <li class="footer__navigation-group" data-aos="lift-footer-group">
      <a class="footer__navigation-link">Developers</a>
      <ul>
        <li><a class="footer__navigation-link">Guides</a></li>
        <li><a class="footer__navigation-link">Glossary</a></li>
        <li><a class="footer__navigation-link">API References</a></li>
        <li><a class="footer__navigation-link">Certification</a></li>
      </ul>
    </li>
  </ul>
  <ul class="support-footer__bottom-list">
    <li><a>Privacy</a></li>
    <li><a>Security</a></li>
    <li><a>Sitemap</a></li>
  </ul>
</footer>