<img src="{{ url("theme://images/img/team-small.png")}}" alt="Team" class="support-section__team team-small">
<section class="landing-page-section support-section" id="support-section">
  <div class="section-wrapper">
    <div class="support-wrapper">
      <div class="support-section__content" data-aos="lift-6-percent">
        <h3 class="name-section">Connect with a human</h3>
        <h1 class="section-title">Still need answers? Our Customer Succes team is here to help.</h1>
        <img src="{{ url("theme://images/img/support/team-avatars.png")}}" alt="Team avatars" class="support-section__team-avatars">
        <p class="section-text">Drop us a line. Our Customer Success team is available during normal working hours and are always happy to answer your specific questions.</p>
        <a class="landing-page__button" href="mailto: support@centra.com">
          <span>Email us</span>
          <div class="landing-page__button-arrow"></div>
        </a>
      </div>
      <img src="{{ url("theme://images/img/support/connect-with-human.png")}}" alt="Team" class="support-section__team team-big" data-aos="lift-2-percent">
    </div>
  </div>
</section>