{% from 'macros/docs-articles.html.twig' import docs_articles -%}
{% set showroom_documentation_tutorials = [
  { title: "Login to Centra Showroom",
    img: "images/img/support/login-to-showroom.png",
    text: "Log in to browse or order for your customers. A powerful overview",
    link: "/showroom/how-to-create-account-or-login-to-centra-showroom" },
  { title: "Create & edit orders in Centra Showroom",
    img: "images/img/support/create-orders-in-showroom.png",
    text: "Place and edit orders efficiently, here’s how...",
    link: "/showroom/how-to-create-and-edit-orders-in-centra-showroom" },
  { title: "Generate a Lookbook",
    img: "images/img/support/generate-lookbook.png",
    text: "Learn how to create and share a lookbook with anyone you want.",
    link: "/showroom/how-to-create-a-lookbook-in-the-centra-showroom" }
] %}

<section class="landing-page-section docs support-documentation support-documentation_showroom" id="docs-section">
  <div class="section-wrapper docs-section">
    <h3 class="name-section" data-aos="lift-name-section">Centra Showroom</h3>
    <h1 class="section-title">Showroom documentation &amp; tutorials</h1>
    <a href="/showroom">Browse all topics</a>
    <div class="docs__articles-wrapper">
        {{ docs_articles(showroom_documentation_tutorials) }}
    </div>
  </div>
  <div class="docs__background background-circle"></div>
  <div class="docs__background background-dot"></div>
</section>
