<section class="support-landing-page-search">
  <h1 class="section-title">What can we help<br />you find?</h1>
  <div class="navigation-search" id="search">
    <form class="navigation-search__form" action="/search">
      <input
        class="navigation-search__input"
        type="search"
        id="site-search"
        name="q"
        placeholder="Search Centra Support"
      >
      <button class="navigation-search__submit-button" type="submit" id="navigation-search-button" />
    </form>
  </div>
  <div class="navigation-background support-navigation-background" id="navigation-background">
    <div class="navigation-background__hand"></div>
    <div class="navigation-background__smile-blue"></div>
    <div class="navigation-background__smile"></div>
    <div class="navigation-background__green-steps"></div>
    <div class="navigation-background__human"></div>
  </div>
</section>