<section class="landing-page-section">
  <div class="section-wrapper section-newsletter-updates">
    <div class="support-section-list" data-aos="lift-docs-cards">
      <h1 class="section-title">Newsletter archive</h1>
      <a>View all</a>
      <ul>
        {% set newsletter = page.find('/newsletter/newsletter/2019').children.order('date', 'desc') %}
        {% for p in newsletter if p != page %}
          <li><a href="{{p.url}}">{{ p.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="support-section-list" data-aos="lift-docs-cards">
        <h1 class="section-title">Product updates</h1>
        <a>View all</a>
        <ul>
          {% set updates = page.find('/updates/2019').children.order('date', 'desc') %}
          {% for p in updates if p != page %}
            <li><a href="{{p.url}}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
  </div>
</section>