<section class="support-landing-page-search">
  <h1 class="section-title">What can we help<br />you find?</h1>
  <div class="navigation-search" id="search">
    <forma class="navigation-search__form">
      <input
        class="navigation-search__input"
        type="search" id="site-search"
        name="q"
        placeholder='{{ grav.theme.config.site_version is same as("api-doc") ? "Search Centra Developers" : "Search Centra Support" }}'
        onkeydown = "if (event.key == 'Enter') document.getElementById('navigation-search-button').click()"
      >
      <button class="navigation-search__submit-button" type="submit" id="navigation-search-button" onclick="redirectToSearchPage()"/>
    </forma>
  </div>
  <div class="navigation-background support-navigation-background" id="navigation-background">
    <div class="navigation-background__hand"></div>
    <div class="navigation-background__smile-blue"></div>
    <div class="navigation-background__smile"></div>
    <div class="navigation-background__green-steps"></div>
    <div class="navigation-background__human"></div>
  </div>
</section>