{% from 'macros/docs-articles.html.twig' import docs_articles -%}
{% set centra_documentation_tutorials = [
  { title: "Getting started with your Centra",
    img: "images/img/support/getting-started.png",
    text: "Learn how to configure Centra, and the key things you need",
    link: "/intro/onboarding/getting-started-with-your-centra" },
  { title: "Searching in Centra",
    img: "images/img/support/search-illustration.png",
    text: "Learn all the hidden tricks and find the most efficient way to search in Centra",
    link: "/intro/basics" },
  { title: "How to configure your products",
    img: "images/img/support/how-to-configure.png",
    text: "Understand the core Centra structure for productsuide you through step by step.",
    link: "/centra-sections/general/catalog/how-centra-handles-products" },
  { title: "How to import and update stock levels",
    img: "images/img/support/how-to-import.png",
    text: "Stock levels can be changed in many ways, this is one of them",
    link: "/centra-sections/general/catalog/how-to-import-and-update-stock-levels" },
  { title: "Creating a Voucher",
    img: "images/img/support/creating-a-voucher.png",
    text: "Discounts, free shipping, 3 for 2 - you name it!",
    link: "/centra-sections/retail-b2c/promo/creating-a-voucher-in-b2c" },
  { title: "Creating Delivery Windows",
    img: "images/img/support/creating-delivery-window.png",
    text: "Sell seasonal or preorder products with delivery windows",
    link: "/centra-sections/wholesale-b2b/setup/creating-delivery-windows" }
] %}

<section class="landing-page-section docs support-documentation" id="docs-section">
  <div class="section-wrapper docs-section">
    <h3 class="name-section" data-aos="lift-name-section">Centra</h3>
    <h1 class="section-title">Centra documentation &amp; tutorials</h1>
    <a href="#">Browse all topics</a>
    <div class="docs__articles-wrapper">
        {{ docs_articles(centra_documentation_tutorials) }}
    </div>
  </div>
  <div class="docs__background background-circle"></div>
  <div class="docs__background background-dot"></div>
</section>
