.l-wrapper {
  width: 100%;
  display: flex;
}

.l-wrapper__left-padding {
  flex: 1;
  background-color: #F7F8FA;
}

.l-wrapper__right-padding {
  flex: 1;
}

.l-wrapper--content {
  max-width: $content-width;
}

@media (max-width: breakpoint("extra-large")) {
  .l-wrapper__right-padding,
  .l-wrapper__left-padding {
    display: none;
  }
}
