{% set tags = page.taxonomy.tag %}
{% if tags %}
    {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs', 'tag': tags}},'order': {'by': 'date', 'dir': 'desc'}}) %}
{% else %}
    {% set progress = page.collection({'items':{'@taxonomy':{'category': 'docs'}},'order': {'by': 'default', 'dir': 'asc'}}) %}
{% endif %}

{% block arrownav %}
	<div class="arrownav">
    {% if not progress.isFirst(page.path) and 'docs' in page.taxonomy.category %}
	    <a class="arrownav-prev" href="{{ progress.nextSibling(page.path).url }}">
            <span class="arrownav__article prev-article">Previous article:</span>
            <span class="arrownav__name name-prev">{{progress.nextSibling(page.path).title}}</span>
        </a>
	{% endif %}

	{% if not progress.isLast(page.path) and 'docs' in page.taxonomy.category %}
	    <a class="arrownav-next" href="{{ progress.prevSibling(page.path).url }}">
            <span class="arrownav__article next-article">Next article:</span>
            <span class="arrownav__name name-next">{{progress.prevSibling(page.path).title}}</span>
        </a>
	{% endif %}
	</div>
{% endblock %}