{% include 'partials/head.html.twig' %}
<body>
    {% include 'partials/topnav.html.twig' %}
    {% include 'partials/navigation_search.html.twig' %}

    <div class="l-wrapper main">
        <div class="l-wrapper__left-padding"></div>
        <div class="main__inner">
            {% block beforecontent %}{% endblock %}
            {% block content %}{% endblock %}
            {% block aftercontent %}{% endblock %}
        </div>
        <div class="l-wrapper__right-padding">
        </div>
    </div>
</body>