<article class="main__content-article">
    <div class="main-article-content">
        <header>
            <div>
                <h1>{{ page.title }}</h1>
                <date>Last updated {{ page.date | date(system.dateformat.short) }}</date>
            </div>
        </header>
        <p>
            {{ page.content }}
        </p>
    </div>
</article>