<article class="main__content-article">
    <div id="toc-popup">
        <button class="page-toc__toggle" onclick="togglePageSearch()"><img src="{{ url("theme://images/img/toc-icon.svg")}}"/></button>
        {% include 'partials/toc.html.twig' %}
    </div>
    <div class="main-article-content">
        <header>
            <div>
                <h1>{{ page.title }}</h1>
                <date>Last updated {{ page.date | date(system.dateformat.short) }}</date>
            </div>
        </header>
        <p>
            {{ page.content }}
        </p>
    </div>
</article>