<article class="main__content-article">
    <button class="page-toc__toggle"><img src="{{ url("theme://images/img/toc-icon.svg")}}"/></button>
    <div class="main-article-content">
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        <p>
            {{ page.content }}
        </p>
    </div>
</article>