{% block navigation_search %}
    <div class="navigation-search" id="search">
        <forma class="navigation-search__form">
            <input
              class="navigation-search__input"
              type="search" id="site-search"
              name="q"
              placeholder='{{ grav.theme.config.search_placeholder }}'
              onkeydown = "if (event.key == 'Enter') document.getElementById('navigation-search-button').click()"
            >
            <button class="navigation-search__submit-button" type="submit" id="navigation-search-button" onclick="redirectToSearchPage()"/>
        </forma>
    </div>
    {% include 'partials/navigation-background.html.twig' %}
{% endblock %}