{% block topnav %}
    <nav class="main-nav" aria-label="Main navigation">
        <ul>
            <li>
                <a href="{{ home_url }}" class="navigation-item__text">
                    Home
                </a>
            </li>
            {% for page in pages.children.visible %}
                <li>
                    <a href="{{ page.url }}" class="navigation-item__text">
                        {{ page.menu }}
                    </a>
                    <span class="navigation-item__dot"/>
                </li>
            {% endfor %}
            <li>
                <a href="/search" class="navigation-item__text">
                    Search
                </a>
            </li>
            <li>
                <button class="navigation-search-button" id="search-button" onclick="toggleSearch()"></button>
                <a class="navigation__contact-us" id="contact-us" href="https://support.centra.com">
                    Contact us
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}