{% block topnav %}
    <div class="navigation-wrapper">
        <nav class="navigation" aria-label="Main navigation">
            <div class="navigation__left">
                <a href="{{ home_url }}" class="navigation__link-developers" id="navigation-link-developers">
                    <img src="{{ url("theme://images/img/centra-logo.png")}}" alt="Centra" class="navigation__centra-logo">
                    <span>Developers</span>
                </a>
            </div>
            <div class="navigation__menu">
                <button class="navigation__burger-menu" id="burger-menu" onclick="toggleBurgerMenu()"></button>
                <ul class="navigation__items">
                    {% for page in pages.children.visible %}
                        <li class="navigation__item">
                            <a href="{{ page.url }}" class="navigation-item__link {% if page.active or page.activeChild %} navigation-item__link--active {% endif %}">
                                {{ page.menu }}
                            </a>
                            <span class="navigation-item__dot"/>         
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="navigation__right">
                <a class="navigation-search-button search-link" href="/search"></a>
                <button class="navigation-search-button" id="search-button" onclick="toggleSearch()"></button>
                <a class="navigation__contact-us" href="https://support.centra.com">Contact us</a>
            </div>
        </nav>
    </div>
{% endblock %}