{% macro basic_articles(basics_content=[]) %}
  {% for basic in basics_content %}
    <article class="basic-section__article" ata-aos="lift-basics-cards">
      <a href="{{basic.url}}" class="landing-page__button white">
        <div class="landing-page__button-icon {{basic.icon}}"></div>
        <div class="landing-page__button-arrow"></div>
      </a>
      <h3>{{basic.title}}</h3>
      <p>{{basic.text}}</p>
    </article>
  {% endfor %}
{% endmacro %}
