{% from 'macros/docs-articles.html.twig' import docs_articles -%}

<section class="landing-page-section docs support-documentation" id="docs-section">
  <div class="section-wrapper docs-section">
    <h3 class="name-section" data-aos="lift-name-section">Centra</h3>
    <h1 class="section-title">Centra documentation & tutorials</h1>
    <a href="#">Browse all topics</a>
    <div class="docs__articles-wrapper">
        {{ docs_articles(grav.theme.config.centra_documentation_tutorials) }}
    </div>
  </div>
  <div class="docs__background background-circle"></div>
  <div class="docs__background background-dot"></div>
</section>
