{% extends 'partials/base.html.twig' %}

{% block beforecontent %}
    {% include 'partials/sidenav.html.twig' %}
{% endblock %}
{% block content %}
    <div class="main__content">
        {% include 'partials/content.html.twig' %}
        <div class="articles__listing">
            {% for p in page.children.visible %}
                <article>
                    <h2>{{ p.header.altTitle ? p.header.altTitle : p.menu }}</h2>
                    <p>{{ p.header.excerpt ? p.header.excerpt : p.summary(230) }}</p>
                    <a href="{{ p.url }}">Browse article</a>
                </article>
            {% endfor %}
        </div>
        {% include 'partials/arrownav.html.twig' %}
    </div>
{% endblock %}
{% block aftercontent %}
    <div class="page-toc__toggle-wrapper">
        <div id="toc">
            <button class="page-toc__toggle" onclick="togglePageSearch()"><img src="{{ url("theme://images/img/toc-icon.svg")}}"/></button>
            {% include 'partials/toc.html.twig' %}
        </div>
    </div>
{% endblock %}