{% extends 'partials/base.html.twig' %}

{% block beforecontent %}
    {% include 'partials/sidenav.html.twig' %}
{% endblock %}
{% block content %}
    <div class="page-content">
        {% if config.get('plugins.breadcrumbs.enabled') %}
            <nav aria-label="Breadcrumbs">
                {% include 'partials/breadcrumbs.html.twig' %}
            </nav>
        {% endif %}
        {% include 'partials/content.html.twig' %}
        {% include 'partials/arrownav.html.twig' %}
    </div>
{% endblock %}