{% include 'partials/head.html.twig' %}
<body>
    {% include 'partials/topnav.html.twig' %}
    {% include 'partials/navigation_search.html.twig' %}

    <div class="error_page__wrapper">
        <h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}</h1>
        <p>
            {{ page.content }}
        </p>
    </div>
</body>