.support-landing-page {
  #navigation-wrapper {
    background-color: transparent;
  }

  a {
    font-size: 20px;
    line-height: 27px;
  }

  .name-section {
    margin-bottom: 80px;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .support-section-topics {
    padding-bottom: 150px;

    .section-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .support-topics-wrapper {
    display: flex;
    flex-wrap: wrap;

    a {
      flex: 1 0 30%;
      padding: 7px 35px;
    }
  }
}

.section-newsletter-updates {
  & h1 {
    margin-bottom: 25px;
  }

  ul {
    padding-left: 20px;
    margin-top: 70px;

    & li {
      font-size: 20px;

      & a {
        color: $black;
        font-size: 20px;
        text-decoration-line: underline;
      }
    
      &::before {
        content: '\2022';
        color: $brand-primary;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

.support-section-list {
  flex: 1;
}

.support-footer {
  padding-top: 190px;
  padding-bottom: 30px;

  & .section-wrapper {
    justify-content: space-between;
  }

  & .social-icon {
    vertical-align: top;
  }

  .footer__centra-logo {
    width: 98px;
    height: auto;
    margin: 0 0 100px 20px;
  }
}

.support-footer__bottom-list {
  display: flex;
  margin-top: 250px;
  margin-left: 20px;

  & li a {
    color: #6C6C6C;
    font-size: 16px;
    padding-right: 30px;
  }
}

@media (max-width: $main-extra-large-breakpoint) {
  .support-landing-page {
    .section-title {
      margin-bottom: 30px;
    }

    a {
      font-size: 15px;
      line-height: 24px;
    }

    .name-section {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .support-landing-page {
    .support-topics-wrapper a {
      flex: 1 0 50%;
      padding: 0 15px;
    }

    .name-section {
      margin-bottom: 0;
    }

    .section-newsletter-updates {
      margin-bottom: 50px;
    }
  }

  .support-footer {
    padding-top: 80px;

    & .footer__centra-logo {
      margin-bottom: 50px;
    }
  }

  .support-footer__bottom-list {
    margin-top: 80px;
  }
}

@media (max-width: $main-mobile-navigation-breakpoint) {
  .support-landing-page {
    .support-topics-wrapper a {
      flex: 1 0 100%;
      padding: 0 15px;
    }
  }

  .support-footer__bottom-list {
    margin-top: 30px;
  }
}