{%- set is_v1 = "/beta/" in pagename -%}
{%- set is_old = "/stable/" in pagename -%}

{%- set pagename_v1 = pagename.replace("/v2/", "/beta/").replace("/old/", "/beta/") -%}
{%- set pagename_old = pagename.replace("/v1/", "/stable/").replace("/v2/", "/stable/") -%}

{%- if not hasdoc(pagename_v1) -%}
 {%- set pagename_v1 = "reference/beta/store-api/index" -%}
{%- endif -%}

{%- if not hasdoc(pagename_old) -%}
 {%- set pagename_old = "reference/stable/index" -%}
{%- endif -%}

<div class="api-version-switcher">
 <select class="link-dropdown" data-enhancer="link-dropdown">
  <option value="{{ linkto(pagename_old) }}"{% if is_old %} selected{% endif %}>Stable APIs</option>
  <option value="{{ linkto(pagename_v1) }}"{% if is_v1 %} selected{% endif %}>Private Beta APIs</option>
 </select>
</div>
