<div class="landing-page">
    {% include 'navigation.html' %}
    {% include 'navigation-search.html' %}

  <nav class="main__sidebar" id="main-sidebar">
    <div class="sidebar js-mobile-sidebar" id="sidebar">
      <div class="sidebar__inner" role="navigation" aria-label="main navigation">
        {% include 'sidebar.html' %}
      </div>
    </div>
    <a class="navigation__contact-us" id="contact-us" href="https://support.centra.com">Contact us</a>
  </nav>

  {% include 'landing-page-hero-section.html' %}
  {% include 'request-access-bar.html' %}
  {% include 'landing-page-get-started-section.html' %}
  {% include 'landing-page-docs-section.html' %}
  {% include 'landing-page-support-section.html' %}
  {% include 'developers-first-bar.html' %}
  {% include 'landing-page-certification-section.html' %}
</div>
