{% from 'macros/linkto.html' import linkto with context -%}

{% set url_root = pathto('', 1) -%}
{%- set is_v1 = "/v1/" in pagename -%}
{%- set is_v2 = "/v2/" in pagename -%}
{% if is_v1 %}
  {%- set versionName = "v1" -%}
{% elif is_v2 %}
  {%- set versionName = "v2" -%}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% if versionName %}
    <title>{{ title|striptags|e }} &mdash; API {{ versionName }} documentation &mdash; Centra</title>
  {% else %}
    <title>{{ title|striptags|e }} &mdash; API documentation &mdash; Centra</title>
  {% endif %}

  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}" />
  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
  <link rel="index" title="Centra API" href="{{ pathto('index') }}" />{% if next -%}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" /> {%- endif %} {% if prev -%}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" /> {%- endif %}
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin />
<!--  <link rel="dns-prefetch" href="https://centra.com" />
  <link rel="preconnect" href="https://centra.com" />-->
</head>
<body>
  {% if pagename.startswith("index") %}
    {% include 'landing-page.html' %}
  {% else %}  
    {% include 'navigation.html' %}
    {% include 'navigation-search.html' %}
    <div class="l-wrapper l-wrapper--fluid main">
      <div class="l-wrapper__left-padding"></div>
      <div class="main__inner" data-enhancer="sidebar">
        <nav class="main__sidebar" id="main-sidebar">
          <div class="sidebar js-mobile-sidebar" id="sidebar">
            <div class="sidebar__inner" role="navigation" aria-label="main navigation">
              {% include 'sidebar.html' %}
            </div>
          </div>
          <a class="navigation__contact-us" id="contact-us" href="https://support.centra.com">Contact Centra</a>
        </nav>

        <section class="main__content">
          <div class="main__content-inner content">
            <div class="wy-nav-content">
              <div class="rst-content">
                <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
                    {%- block document %}
                    <div itemprop="articleBody">
                      {% block body %}{% endblock %}
                    </div>
                    {%- endblock %}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="l-wrapper__right-padding"></div>
    </div>
  {% endif %}
  <script type="text/javascript" src="{{ pathto('_static/index.js', 1) }}" async></script>

  <!-- GOOGLE_TAG_MANAGER -->
</body>

</html>
