.authentication {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 30px;
}

.authentication a.reference {
  font-weight: 300;
  font-size: 14px;
  font-family: $font-family-monospace;
  margin-left: 15px;
  color: $brand-primary;
  padding-bottom: 2px;
  border-bottom: 1px solid $brand-primary;
  text-decoration: none;
  transform: translateY(-3px);
}

.authentication a.reference:hover,
.authentication a.reference:focus {
  color: $brand-primary-hover;
  text-decoration: none;
}
