#changelog ul {
  @include bare-list;
}

#changelog ul li {
  position: relative;
}

#changelog ul li::before {
  height: calc(100% + 5px);

  @media (min-width: breakpoint('medium')) {
    left: -25px;
    position: absolute;
    display: block;
    height: 40px;
    width: 19px;
    content: '\2022';
    opacity: 0.2;
  }
}

#changelog h2 {
  margin-top: 40px;
}

#changelog h3 {
  margin-top: 30px;
  margin-bottom: 0.5em;
  font-size: 15px;
}
