.rst-content code.docutils {
  background: #fcfcfc;
  border: 1px solid $grey-medium;
  font-family: $font-family-monospace;
  font-size: 12px;
  border-radius: 3px;
  padding: 4px 8px 3px;
  white-space: nowrap;
}

/*used for the table with reaaally long parameter names, don't overflow the text but make a scroll on the output*/
.rst-content tr td:nth-child(1) .first > code.docutils {
  max-width: 160px;
  display: inline-block;
  line-height: 14px;
}
