.content {
  padding-top: 80px;
  padding-bottom: 40px;
}

.content .section table.small-table, .content .section table.small-table code.docutils {
  font-size: 9px !important;
}

.content .section table.small-table td {
  text-align: left !important;
  padding: 5px;
  max-width: auto;
}

.content .section table.small-table.stripe-pi-command-list td:nth-child(2) {
  text-align: right !important;
}

.rst-content .highlight {
  max-width: 650px !important;
}
