@keyframes ticker {
  100% {
    transform: translateX(-20%);
  }
}

.developers-first-bar {
  width: 100%;
  overflow: hidden;
  background-color: #FDB984;
  box-sizing: content-box;
  transform: translate3d(0, 0, 0);

  .ticker {
    display: inline-block;
    line-height: 55px;
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.12px;
    white-space: nowrap;
    box-sizing: content-box;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 20s;
    animation-play-state: running;
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .developers-first-bar .ticker {
    line-height: 36px;
    font-size: 24px;
  }
}