.footer {
  @include clearfix;
  // Prevent horizontal overflow in Edge
  overflow: hidden;
  margin: auto;
  padding: 40px 40px 0;
  background: #000;
  color: #fff;
}

.footer__sub-heading {
  margin-bottom: 0;
  font-weight: bold;
}

.footer ul {
  @include bare-list;
}

.footer a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.footer a:focus,
.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer p,
.footer li a {
  font-weight: normal;
  text-decoration: none;
}

/**
 * Column structure
 */
.footer__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: breakpoint('small')) {
    justify-content: space-between;
  }
}

.footer__column {
  flex: 0 0 100%;
  font-size: 16px;

  @media (min-width: breakpoint('medium')) {
    flex: 0 1 auto;
    padding-right: 10px;
  }

  @media (min-width: breakpoint('large')) {
    padding-right: 30px;
    font-size: 18px;
  }
}

.footer__column:last-child {
  padding-right: 0;
}

.footer__heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;

  @media (min-width: breakpoint('medium')) {
    border-bottom: none;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 20px;
  }
}

.is-enhanced .footer__heading {
  @media (max-width: breakpoint('<medium')) {
    cursor: pointer;
  }
}

.footer__column:first-child .footer__heading {
  border: none;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;

  @media (min-width: breakpoint('medium')) {
    margin-bottom: 20px;
    text-align: left;
  }
}

.footer__column:nth-child(5) {
  display: none;

  @media (max-width: breakpoint('medium')) {
    display: block;
  }
}

.footer__column:nth-child(6) .footer__heading {
  @media (max-width: breakpoint('<medium')) {
    display: none;
  }
}

.footer__column:not(:first-child) .footer__heading::after {
  @media (max-width: breakpoint('<medium')) {
    content: '';
    position: absolute;
    right: 15px;
    top: calc(50% - 4px);
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 6px;
    width: 6px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: left center;
  }
}

.footer__column:not(:first-child) .footer__heading.is-active {
  @media (max-width: breakpoint('<medium')) {
    border-bottom: none;
    font-weight: bold;
  }
}

.footer__column:not(:first-child) .footer__heading.is-active::after {
  @media (max-width: breakpoint('<medium')) {
    border-width: 2px 0 0 2px;
  }
}

.footer__column:first-child .footer__heading svg {
  // IE11 needs explicit height
  width: 80px;
  height: 23px;

  @media (min-width: breakpoint('medium')) {
    width: 69px;
    // IE11 needs explicit height
    height: 20px;
  }
}

.footer .footer__column ul {
  @include bare-list;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  padding-bottom: 15px;

  @media (min-width: breakpoint('medium')) {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
  }
}

.footer.is-enhanced .footer__column ul {
  border-bottom: none;
  padding-bottom: 0;
}

.footer.is-enhanced .footer__column:not(:first-child) ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s;

  @media (min-width: breakpoint('medium')) {
    display: block;
    max-height: none;
  }
}

.footer.is-enhanced .footer__column:not(:first-child) ul.is-active {
  max-height: 100vh;
  border-bottom: 1px solid $grey-darkest;
}

.footer .footer__column:nth-child(6) ul,
.footer.is-enhanced .footer__column:nth-child(6) ul {
  @media (max-width: breakpoint('<medium')) {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    max-height: none;
  }
}

.footer__column li:not(:first-child) {
  @media (min-width: breakpoint('medium')) {
    margin-top: 0.75em;
  }
}

.footer .footer__column:nth-child(6) ul a {
  @media (max-width: breakpoint('<medium')) {
    display: block;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
}

.footer__column a {
  display: block;
  color: $grey-medium-light;
  font-size: 16px;
  line-height: 1;
}

.footer__column a {
  @media (max-width: breakpoint('<medium')) {
    display: block;
    font-size: 18px;
    line-height: 40px;
  }
}

.footer__container {
  max-width: 1280px;
  margin: auto;
}


/**
 * Seperator - <hr>
 */
.footer__separator {
  display: none;

  @media (min-width: breakpoint('medium')) {
    display: block;
    border: 0;
    border-top: 1px solid $grey-darkest;
    margin: 40px 0;
  }

  @media (min-width: breakpoint('huge')) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.footer__comment {
    font-size: 10px;
    padding-bottom: 20px;
    color: $grey-medium-dark;
}

.footer__legal {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
  padding: 20px 25px;
  background-color: transparent;
  font-size: 14px;
  line-height: 2;
  justify-content: space-between;

  @media (min-width: breakpoint('small')) {
    margin-left: -30px;
    margin-right: -30px;
  }

  @media (min-width: breakpoint('medium')) {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 20px;
    width: 100%;
    justify-content: flex-end;
  }
}

.footer__logo {
  flex: 0 0 80px;
  font-weight: bold;
  fill: #fff;
}

.footer__logo svg {
  width: 23px;
}

/**
 * Legal links (e.g. t&c)
 */
.footer .footer__legal-links {
  display: none;
  white-space: nowrap;

  @media (min-width: breakpoint('medium')) {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    margin-bottom: 0;
    text-align: right;
  }
}

.footer__legal-links li {
  @media (min-width: breakpoint('medium')) {
    display: inline;
  }
}

.footer__legal-links li:not(:last-child) {
  @media (min-width: breakpoint('medium')) {
    margin-right: 30px;
  }
}

.footer__legal-links a {
  color: $grey-medium-light;
}

/**
 * Language icon
 */
.footer__language {
  display: flex;
  margin-left: 15px;
}

.footer__language-switcher,
.footer__language-label {
  font-weight: normal;
}

.footer__language-switcher {
  flex: 0 1 auto;
  position: relative;
  padding: 0;
  text-align: center;
  color: $grey-light;
}

.footer__language-label {
  flex: 1 0 auto;
  text-align: right;
  color: $grey-medium-light;
  cursor: pointer;

  @media (min-width: breakpoint('medium')) {
    flex: 0 1 auto;
  }
}

.footer__language-button {
  border: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;

  @media (min-width: breakpoint('medium')) {
    padding-right: 0;
  }
}

.footer__language-button:hover,
.footer__language-button:focus {
  color: $grey-medium-light;
}

.footer__language-list {
  @include bare-list;
  position: absolute;
  bottom: calc(100% + 15px);
  right: 0;
  border-radius: 6px;
  margin: 0;
  width: 180px;
  background-color: #fff;
  transform: scale(0.8);
  opacity: 0;
  transform-origin: bottom right;
  transition: opacity 0.15s ease-out, transform 0.15s ease-out;

  @media (min-width: breakpoint('medium')) {
    left: 50%;
    right: auto;
    transform: translateX(-50%) scale(0.8);
    transform-origin: bottom center;
  }
}

.footer__language-list.is-visible {
  opacity: 1;
  transform: scale(1);

  @media (min-width: breakpoint('small')) {
    transform: scale(1);
  }

  @media (min-width: breakpoint('medium')) {
    transform: scale(1) translateX(-50%);
  }
}

.footer__language-item {
  height: 0;
  overflow: hidden;
  text-align: left;
  transition: height 0s ease-out 0.15s;
}

.footer__language-list.is-visible .footer__language-item {
  height: 35px;
  transition: height 0s ease-out 0s;
}

.footer__language-item:first-child a {
  border-radius: 6px 6px 0 0;
}

.footer__language-item:last-child a {
  border-radius: 0 0 6px 6px;
}

.footer__language-item:last-child a::after {
  bottom: -6px;
  left: 75%;
  position: absolute;
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 6px 6px 0;
  border-color: #fff transparent transparent;
  transform: translateX(-50%);

  @media (min-width: breakpoint('small')) {
    left: auto;
    right: 20%;
    transform: none;
  }

  @media (min-width: breakpoint('medium')) {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

.footer__language-item:last-child a:focus::after,
.footer__language-item:last-child a:hover::after {
  border-color: $brand-primary transparent transparent;
}

.footer__language-list .footer__language-item a {
  display: block;
  height: 0;
  padding: 0 15px;
  background-color: #fff;
  color: $text-color;
  font-size: 16px;
  font-weight: normal;
  line-height: 35px;
  white-space: nowrap;
}

.footer__language-list.is-visible
.footer__language-item a {
  height: 35px;
}

.footer__language-list .footer__language-item a.is-active {
  background-color: $grey-lightest;
}

.footer__language-list .footer__language-item a:hover,
.footer__language-list .footer__language-item a:focus {
  background-color: $brand-primary;
  color: #fff;
  text-decoration: none;
}
