.certification-section {
  .section-wrapper {
    align-items: center;
  }
}

.certification-section__team-avatars {
  max-width: 520px;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .certification-section {
    padding-bottom: 40px;

    .section-wrapper {
      flex-direction: column;
    }
  }

  .certification-section__team-avatars {
    width: 170px;
    margin-left: auto;
    margin-right: 30%;
    margin-top: -70px;
  }
}

@media (max-width: 510px) {
  .certification-section__team-avatars {
    margin: 0;
  }
}