.basic-section {
  background-color: #000000;
  color: #ffffff;

  .section-wrapper {
    flex-direction: column;
  }

  .name-section {
    text-align: center;
  }
}

.basic-section__articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-section__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 386px;
  min-height: 600px;
  margin: 11px;
  padding: 66px 45px 110px;
  border: 2px solid #141414;
  box-sizing: border-box;
  transition: background-color .5s ease-out;

  .landing-page__button-arrow {
    opacity: 0;
  }

  .landing-page__button-arrow {
    margin-left: 22px;
  }

  &:hover {
    background-color: #141414;
    transition: background-color .5s ease-out;

    .landing-page__button-arrow {
      opacity: 1;
      transition: transform .5s ease-out;
    }
  }

  h3 {
    font-size: 24px;
    margin: 75px 0;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

.landing-page__button-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;

  &.icon-eye {
    background-image: url('./../../_static/img/icon-eye.svg');
  }

  &.icon-square {
    background-image: url('./../../_static/img/icon-square.svg');
  }

  &.icon-sun {
    background-image: url('./../../_static/img/icon-sun.svg');
  }

  &.icon-rhomb {
    background-image: url('./../../_static/img/icon-rhomb.svg');
  }

  &.icon-people {
    background-image: url('./../../_static/img/icon-people.svg');
  }

  &.icon-rainbow {
    background-image: url('./../../_static/img/icon-rainbow.svg');
  }
}

@media (max-width: 1370px) {
  .basic-section__article {
    padding: 23px 30px;
    min-height: 500px;
    max-width: 310px;

    h3 {
      margin: 25px 0;
    }
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  .basic-section__articles-wrapper {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .basic-section__article {
    min-width: 270px;
    min-height: 424px;
    margin: 6px;
    background-color: #141414;

    &:hover .landing-page__button-arrow {
      opacity: 0;
    }

    h3 {
      font-size: 18px;
    }
    
    p {
      font-size: 13px;
    }
  }
}