.landing-page__button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.12px;
  display: flex;
  align-items: center;
}

.landing-page__button.white {
  color: #ffffff;
}

.landing-page__button.black {
  color: #000000;
}

.landing-page__button .landing-page__button-arrow {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.landing-page__button.white .landing-page__button-arrow {
  background: transparent url('./../../_static/img/vector-white.svg') no-repeat center center;
}

.landing-page__button.black .landing-page__button-arrow {
  background: transparent url('./../../_static/img/vector-black.svg') no-repeat center center;
}

.section-title {
  font-size: 3em;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.section-title::after {
  display: none;
}

.section-text {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-bottom: 45px;
}
