#contact-us {
  display: none;
}

.main__inner {
  display: flex;
  flex-wrap: nowrap;

  @media (max-width: breakpoint("extra-large")) {
    width: 100%;
  }
}

.main__sidebar {
  min-width: 290px;
  transition: 300ms transform ease-in-out;
  background-color: $white-grey;

  @media (max-width: breakpoint('extra-large')) {
    width: 354px;
    display: none;
  }
}

.main__content {
  position: relative;
  max-width: 700px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  @media (max-width: breakpoint('extra-large')) {
    margin-top: 88px;
    max-width: 100%;
  }

  @media (max-width: $mobile-navigation-breakpoint) {
    padding: 0 23px;
  }
}

.main__content-inner {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $mobile-navigation-breakpoint) {
    width: 90%;
  }
}

@media (max-width: breakpoint('extra-large')) {
  .sidebar.show-sidebar {
    display: block;
  }
  
  nav.show-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 88px;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav.show-sidebar::after {
    content: '';
    position: absolute;
    z-index: 9;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    opacity: .28;
    top: -88px;
    left: 354px;
  }

  nav.show-sidebar .navigation__items {
    display: flex;
  }

  #contact-us.show-contact-us {
    display: inline-block;
    margin-right: 48px;
    margin-left: auto;
    margin-bottom: 130px;
    color: $blackish-grey;
    border: 1px solid #000;
    background-color: transparent;
  }
}

@media (max-width: $mobile-navigation-breakpoint) {
  nav.show-sidebar {
    width: 290px;
  }

  nav.show-sidebar::after {
    left: 290px;
  }
}