$max-navigation-width: 1280px;
$min-navigation-height: 54px;
$min-width: 1024px;

// Body scroll
body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.divider {
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #eee;
  width: 100%;
  z-index: 12;
}

//Mobile navigation
.mobile-navigation {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $min-navigation-height;
  border-bottom: 1px solid #eee;
}

.navigation__link-developers {
  display: flex;
  font-size: 28px;
  color: #505050;
}

.hideMobile {
  display: none !important;
}

.showMobile {
  display: flex !important;
}

.mobile-navigation__logo {
  margin-left: 20px;
}

.mobile-navigation__actions {
  display: flex;
  align-items: center;
}

.mobile-navigation__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: $min-navigation-height;
  border-left: 1px solid #eee;
  margin-left: 20px;
}

.mobile-navigation__hamburger {
  pointer-events: none;
}

.toggle-features svg.arrow {
  transform-origin: center center;
  margin-left: 10px;
  margin-top: 2px;
  transform: rotateX(0);
  transition: transform 0.2s ease;
}

// Logo
.mobile-navigation__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.mobile-navigation__logo svg {
  width: 75px;
  height: 25px;
}

// Responsive ==============================
@media only screen and (min-width: $main-mobile-navigation-breakpoint) {
  body.no-scroll {
    overflow: auto;
    position: static;
  }

  .navigation__link {
    padding: 0;
  }

  .showMobile {
    display: none !important;
  }

  .hideMobile {
    display: flex !important;
  }

  .mobile-navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.cta-link {
  color: #07f;
  font-weight: 600;
  font-size: 20px;
}
