.admonition {
  background-color: #f1fafd;
  border: 1px solid #0070c1;
  padding: 11px 15px;
  color: #00508a;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  margin-bottom: 35px;
}

.admonition a {
  color: inherit;
  text-decoration: underline;
}

.admonition a:hover {
  opacity: .8;
}

.admonition p {
  margin-bottom: 10px !important;
}

.admonition p.last {
  margin-bottom: 0 !important;
}

.admonition p.admonition-title {
  font-weight: $font-weight-extra-bold;
}

.admonition.warning {
  background-color: #fffcf9;
  border-color: #ce5e24;
  color: #b33d00;
}
