.products-navigation {
  left: 0;
  position: absolute;
  top: 45px;
  width: 100%;
  background: #fff;
  font-size: 17px;
  opacity: 0;
  overflow: hidden;
  border-bottom: 1px solid $grey-lighter;
  z-index: 5;
  transform: translateY(-165px);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

  @media (min-width: breakpoint('small')) {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  @media (max-width: breakpoint('<medium')) {
    transform: translateY(-100vh);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.13);
  }

  @media (min-width: breakpoint('large')) {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
  }

  @media (min-width: $site-width) {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  }
}

.headroom--pinned + .products-navigation {
  position: fixed;
}

.products-navigation.has-products-visible,
.products-navigation.has-products-visible .products-navigation-items__link {
  opacity: 1;
  transform: translateY(0);
}

.products-navigation.has-products-visible {
  transition-delay: 0s;
}

.headroom--unpinned + .products-navigation.has-products-visible {
  transform: translateY(-50px);
}

.products-navigation p {
  margin-bottom: 0;
}

.products-navigation a {
  color: inherit;
}
