.products-navigation-items {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (min-width: breakpoint('small')) {
    flex-direction: row;
  }

  @media (min-width: breakpoint('medium')) {
    width: 100%;
  }
}

.products-navigation-items__link {
  display: flex;

  @media (max-width: breakpoint('<medium')) {
    justify-content: flex-start;
  }

  @media (min-width: breakpoint('medium')) {
    flex: 0 0 50%;
    opacity: 0;
    transform: translateY(-120px);
    transition:
      transform 0.3s 0s cubic-bezier(0.77, 0, 0.175, 1),
      opacity 0.3s 0s cubic-bezier(0.77, 0, 0.175, 1),
      background 0.2s 0s ease-out;
  }
}

.products-navigation-items__link:hover,
.products-navigation-items__link:focus {
  @media (min-width: breakpoint('medium')) {
    background: rgba(0, 0, 0, 0.03);
  }
}

.products-navigation-items__link:first-child {
  @media (min-width: breakpoint('small')) {
    justify-content: flex-end;
  }
}

.products-navigation-items__link:last-child {
  transition-delay: 0.05s, 0.05s, 0s;
}

.products-navigation-items__inner {
  align-items: center;
  display: flex;
  padding: 15px 20px;

  @media (min-width: 400px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: breakpoint('small')) {
    padding: 30px;
    max-width: 450px;
  }
}

.products-navigation-items--has-border .products-navigation-items__link:first-child {
  border-bottom: 1px solid $grey-lighter;

  @media (min-width: breakpoint('small')) {
    border-bottom: 0;
    border-right: 1px solid $grey-lighter;
    padding-left: 0;
  }
}

.products-navigation-items__link:nth-child(2) {
  @media (min-width: breakpoint('small')) {
    padding-right: 0;
  }
}

.products-navigation-items__text {
  padding-left: 25px;
  color: $grey-dark;
  font-size: 18px;
}

.products-navigation-items--small .products-navigation-items__text {
  font-size: 16px;
}

.products-navigation-items__heading {
  color: $text-color;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
}

.products-navigation-items--small .products-navigation-items__heading {
  font-size: 20px;
}

.products-navigation-items__subtitle {
  margin-top: 5px;
  line-height: 1.2;
}

.products-navigation-items__logo {
  flex: 0 0 57px;
  height: 57px;
  overflow: hidden;
}

.products-navigation-items__logo img {
  max-height: 100%;
  max-width: 100%;
}
