.request-access-bar {
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  font-size: 26px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.12px;
}

@media (max-width: $mobile-navigation-breakpoint) {
  .request-access-bar {
    font-size: 22px;
    line-height: 50px;
  }
}