.sub-navigation-item {
  height: 100%;
}

.sub-navigation-item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

.sub-navigation-item__text {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.sub-navigation-item__icon {
  margin-top: 20px;
  margin-bottom: 14px;
  fill: #fff;
  opacity: 1;
  transition: opacity 0.1s 0.05s ease;
}

.sub-navigation-item__path {
  transition: fill 0.1s ease;
}

.sub-navigation-item--active .sub-navigation-item__path {
  fill: $brand-primary;
}

.sub-navigation-item--active .sub-navigation-item__text {
  color: $brand-primary;
}

.sub-navigation-item__link:hover .sub-navigation-item__text {
  color: $grey-boulder;
}

.sub-navigation-item__link:hover .sub-navigation-item__path {
  fill: $grey-boulder;
}

.sub-navigation-item--small .sub-navigation-item__icon {
  opacity: 0;
}

.sub-navigation:hover .sub-navigation-item__icon {
  opacity: 1;
}

.sub-navigation-item--github {
  position: relative;
}

.sub-navigation-item--github::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  border-left: 1px solid $grey-darkest;
  transform: translateY(-50%);
  transition: opacity 0.2s ease;
  height: 60%;
}

.sub-navigation:hover .sub-navigation-item--github::before {
  opacity: 1;
}

.sub-navigation-item--small.sub-navigation-item--github::before {
  opacity: 0;
}

.sub-navigation-item--github .sub-navigation-item__text {
  color: $grey-dusty;
}

.sub-navigation-item--github .sub-navigation-item__path {
  fill: $grey-dusty;
}
