.type {
  color: $grey-dusty;
  font-family: $font-family-monospace;
  font-size: 12px;
  font-weight: 500;
}

.type .condition {
  font-family: $font-family-monospace;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.type.required .condition {
  color: $blue-cornflower;
}

.type.optional .condition {
  color: $orange-anzac;
}

.type.b2c .condition.storetype {
  background: $store-b2c;
}

.type.b2b .condition.storetype {
  background: $store-b2b;
}

.type.b2c .condition.storetype, .type.b2b .condition.storetype {
  color: #fff;
  border: 0 solid #000;
  border-radius: 7px;
  display: inline;
  padding: 4px 6px 2px;
  line-height: 13px;
  max-height: 19px;

}
