<div class="developers-first-bar">
  <div class="ticker">
    #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_ #DEVELOPERS FIRST>_
  </div> 
</div>