<div class="code-animation">
    <div class="lines">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
    </div>
    <div class="css-typing">
        <p>
            <span class="blue">const</span><span> handleAddToBag</span>&nbsp<span>= () => {</span>
        </p>
        <p>
            &nbsp<span class="blue">const</span>&nbsp<span class="light-blue">coatId = 1245fg45</span>;
        </p>
        <p>
            &nbsp&nbsp<span class="light-blue">productId:</span>
        </p>
        <p>
            &nbsp&nbsp&nbsp<span class="light-blue">coatId</span>,
        </p>
        <p>
            &nbsp&nbsp<span class="light-blue">productQuantity: 5</span>,
        </p>
        <p>&nbsp});</p>
        <p>}</p>
    </div>
</div>