<div class="code-animation">
    <div class="lines">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
    </div>
    <div class="css-typing">
        <p>
            <span class="blue">const</span><span> createProduct</span>&nbsp<span>= () => {</span>
        </p>
        <p>
            &nbsp&nbsp<span class="pink">return</span>&nbsp<span class="light-blue">centraApi</span>.
        </p>
        <p>
            &nbsp&nbsp&nbsp&nbsp<span class="yellow">POST</span>(<span class="orange">'api/centra/products'</span>)({
        </p>
        <p>
            &nbsp&nbsp&nbsp&nbsp<span class="light-blue">name: Sneaker</span>,
        </p>
        <p>
            &nbsp&nbsp&nbsp&nbsp<span class="light-blue">color: white</span>,
        </p>
        <p>
            &nbsp&nbsp&nbsp&nbsp<span class="light-blue">size: all</span>,
        </p>
        <p>&nbsp&nbsp});</p>
        <p>};</p>
        <p class="green">/** https://ltin.com/v2</p>
    </div>
</div>