<section class="get-started-section landing-page-section" id="get-started-section">
  <div class="section-wrapper hero-section__wrapper">
    <div class="hero-section__graphics stroke-background has-to-lift">
      <div class="graphics__code-window"></div>
      <div class="picture-layout__circle"></div>
      <div class="picture-layout__artboard"></div>
      <div class="picture-layout__dot"></div>
    </div>
    <div class="section-content">
      <h1 class="section-title has-to-lift">Consumer our Store API directly or start with an SDK</h1>
      <p class="section-text has-to-lift">Centra is an API-first e-commerce platform with powerful and intuitive APIOur Store API is fast, so you don’t need to worry about caching. You can build a full-scale, major global ecommerce site by only using HTML and JavaScript.</p>
      <button class="landing-page__button black has-to-lift">
        <span>Get started</span>
        <div class="landing-page__button-arrow"></div>
      </button>
    </div>
  </div>
</section>