<section class="landing-page-section certification-section">
  <h3 class="name-section">Centra certification</h3>
  <div class="section-wrapper">
    <div class="certification-section__graphics" data-aos="lift-2-percent">
      <div class="gray-strokes"></div>
      <img src="{{ url("theme://images/img/beautiful-computer-desk.png")}}" alt="Team" class="graphics-team-avatars">
      <div class="graphic-bricks"></div>
      <div class="graphic-circle"></div>
      <div class="graphic-black-smile"></div>
    </div>
    <div class="section-content" data-aos="lift-6-percent">
      <h1 class="section-title">{{ grav.theme.config.certification.title }}</h1>
      <p class="section-text">{{ grav.theme.config.certification.text }}</p>
      <button class="landing-page__button black">
        <span>{{ grav.theme.config.certification.link }}</span>
        <div class="landing-page__button-arrow"></div>
      </button>
    </div>
  </div>
</section>