<footer class="landing-page-section landing-page-footer" id="landing-page-footer">
  <div class="animation-wrapper">
    <div id="centra-commerce"></div>
  </div>
  <ul class="section-wrapper">
    <li class="footer__navigation-group has-to-lift" id="footer-list1">
      <a class="footer__navigation-link">Guides</a>
      <ul>
        <li><a class="footer__navigation-link">Article one two</a></li>
        <li><a class="footer__navigation-link">And article</a></li>
        <li><a class="footer__navigation-link">Three</a></li>
        <li><a class="footer__navigation-link">Article four</a></li>
        <li><a class="footer__navigation-link">Another</a></li>
        <li><a class="footer__navigation-link">Six</a></li>
      </ul>
    </li>
    <li class="footer__navigation-group has-to-lift" id="footer-list2">
      <a class="footer__navigation-link">Glossary</a>
      <ul>
        <li><a class="footer__navigation-link">Article one</a></li>
        <li><a class="footer__navigation-link">And article</a></li>
        <li><a class="footer__navigation-link">Article four</a></li>
        <li><a class="footer__navigation-link">Another</a></li>
      </ul>
    </li>
    <li class="footer__navigation-group has-to-lift" id="footer-list3">
      <a class="footer__navigation-link">API references</a>
      <ul>
        <li><a class="footer__navigation-link">Article one</a></li>
        <li><a class="footer__navigation-link">And article</a></li>
        <li><a class="footer__navigation-link">Three</a></li>
        <li><a class="footer__navigation-link">Article four</a></li>
        <li><a class="footer__navigation-link">Another</a></li>
        <li><a class="footer__navigation-link"></a></li>
      </ul>
    </li>
    <li class="footer__navigation-group has-to-lift" id="footer-list4">
      <a class="footer__navigation-link">Certification</a>
      <ul>
        <li><a class="footer__navigation-link">Article one</a></li>
        <li><a class="footer__navigation-link">And article</a></li>
        <li><a class="footer__navigation-link">Three</a></li>
        <li><a class="footer__navigation-link">Another</a></li>
      </ul>
    </li>
    <li class="footer__navigation-group has-to-lift" id="footer-list5">
      <a class="footer__navigation-link">Support</a>
      <ul>
        <li><a class="footer__navigation-link">Article one</a></li>
        <li><a class="footer__navigation-link">And article</a></li>
        <li><a class="footer__navigation-link">Three</a></li>
        <li><a class="footer__navigation-link">Another</a></li>
        <li><a class="footer__navigation-link">Six</a></li>
      </ul>
    </li>
  </ul>
</footer>