<section class="landing-page-section certification-section">
  <div class="section-wrapper">
    <div class="section-content">
      <h1 class="section-title has-to-lift">{{ grav.theme.config.certification.title }}</h1>
      <button class="landing-page__button black has-to-lift">
        <span>{{ grav.theme.config.certification.link }}</span>
        <div class="landing-page__button-arrow"></div>
      </button>
    </div>
    <img src="{{ url("theme://images/img/team-collage.png")}}" alt="Team" class="certification-section__team-avatars has-to-lift">
  </div>
</section>