<section class="landing-page-section support-section">
  <div class="section-wrapper">
    <div class="support-wrapper">
      <img src="{{ url("theme://images/img/support-small.png")}}" alt="Team" class="support-section__team team-small has-to-lift">
      <div class="support-section__content">
        <h3 class="name-section has-to-lift">Support</h3>
        <h1 class="section-title has-to-lift">We speak developer. Everything you need to be up and running in minutes. Start here, or if you’re really blah blah you can start here.</h1>
        <img src="{{ url("theme://images/img/team-avatars.png")}}" alt="Team avatars" class="support-section__team-avatars has-to-lift">
        <p class="section-text has-to-lift">Building an experience on Centra’s APIs? It’s easy to get setup with real&#x2011;time Slack support, or sign up for sCertified Developer Training. Let’s do this.</p>
        <button class="landing-page__button has-to-lift">
          <span>Get support</span>
          <div class="landing-page__button-arrow"></div>
        </button>
      </div>
      <img src="{{ url("theme://images/img/support-big.png")}}" alt="Team" class="support-section__team team-big has-to-lift">
    </div>
  </div>
</section>