<div class="landing-page black" id="landing-page">
  <div id="loading">
      <img src="{{ url("theme://images/img/centra-developers.svg")}}" alt="Centra" class="landing-page__centra-load">
  </div>
  {% include 'partials/topnav.html.twig' %}
  {% include 'partials/sidenav.html.twig' %}
  {% include 'partials/landing-page/landing-page-hero-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-get-started-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-docs-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-support-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-basics-section.html.twig' %}
  {% include 'partials/landing-page/developers-first-bar.html.twig' %}
  {% include 'partials/landing-page/landing-page-certification-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-footer.html.twig' %}
  {% include 'partials/landing-page/request-access-bar.html.twig' %}
</div>
