<section class="landing-page-section certification-section">
  <div class="section-wrapper">
    <div class="section-content has-to-lift">
      <h1 class="section-title">{{ grav.theme.config.certification.title }}</h1>
      <button class="landing-page__button black">
        <span>{{ grav.theme.config.certification.link }}</span>
        <div class="landing-page__button-arrow"></div>
      </button>
    </div>
    <div class="certification-section__graphics has-to-lift">
      <div class="gray-strokes"></div>
      <img src="{{ url("theme://images/img/team.png")}}" alt="Team" class="graphics-team-avatars">
      <div class="graphic-dot"></div>
      <img src="{{ url("theme://images/img/team-collage-small.png")}}" alt="Team" class="graphics-team-avatars-small">
      <div class="graphic-bricks"></div>
      <div class="graphic-circle"></div>
      <div class="graphic-green-smile"></div>
    </div>
  </div>
</section>