<img src="{{ url("theme://images/img/team-small.png")}}" alt="Team" class="support-section__team team-small">
<section class="landing-page-section support-section" id="support-section">
  <div class="section-wrapper">
    <div class="support-wrapper">
      <div class="support-section__content" data-aos="lift-6-percent">
        <h3 class="name-section">World-class support</h3>
        <h1 class="section-title">We speak developer. Get answers in real-time with your personal Centra Slack support channel and our world-class Customer Success team.</h1>
        <img src="{{ url("theme://images/img/team-avatars-slack.png")}}" alt="Team avatars" class="support-section__team-avatars">
        <p class="section-text">Already building and need to set up Centra Slack support? Reach out today.</p>
        <button class="landing-page__button">
          <span>Get support</span>
          <div class="landing-page__button-arrow"></div>
        </button>
      </div>
      <img src="{{ url("theme://images/img/support-big.png")}}" alt="Team" class="support-section__team team-big" data-aos="lift-2-percent">
    </div>
  </div>
</section>