<div class="landing-page">
  {% include 'partials/landing-page/landing-page-hero-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-get-started-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-docs-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-support-section.html.twig' %}
  {% include 'partials/landing-page/landing-page-basics-section.html.twig' %}
  {% include 'partials/landing-page/developers-first-bar.html.twig' %}
  {% include 'partials/landing-page/landing-page-certification-section.html.twig' %}
  {% include 'partials/landing-page/request-access-bar.html.twig' %}
  {% include 'partials/landing-page/landing-page-footer.html.twig' %}
</div>
