<section class="get-started-section landing-page-section" id="get-started-section">
  <div class="section-wrapper hero-section__wrapper">
    <div class="hero-section__graphics stroke-background" data-aos="graphics-animation-get-started">
      <div class="graphics__code-window">
          {% include 'partials/landing-page/get-started-section-animation.html.twig' %}
          <div class="picture-layout__artboard"></div>
      </div>
      <div class="picture-layout__circle"></div>
      <div class="picture-layout__dot"></div>
    </div>
    <div class="section-content" data-aos="content-animation-get-started">
      <h1 class="section-title">Build a full-scale global e-commerce site in weeks</h1>
      <p class="section-text">
        Call our Store API from client-side or server-side applications. It’s fast, no need to cache. Save time and resources by using Centra Checkout
      </p>
      <button class="landing-page__button black">
        <span>Learn more about Centra API’s</span>
        <div class="landing-page__button-arrow"></div>
      </button>
    </div>
  </div>
</section>