<section class="hero-section landing-page-section" id="hero-section">
  <div class="section-wrapper hero-section__wrapper">
    <div class="section-content">
      <h1 class="section-title">{{ grav.theme.config.hero.title }}</h1>
      <p class="section-text">{{ grav.theme.config.hero.text }}</p>
      <button class="landing-page__button white">
        <span>{{ grav.theme.config.hero.link }}</span>
        <div class="landing-page__button-arrow"></div>
      </button>
    </div>
    <div class="hero-section__graphics">
      <div class="graphics__code-window">
          {% include 'partials/landing-page/hero-section-animation.html.twig' %}
      </div>
      <div class="picture-layout__stack"></div>
      <div class="picture-layout__screen-product"></div>
      <div class="picture-layout__hand"></div>
      <div class="picture-layout__slider"></div>
      <div class="picture-layout__smile"></div>
    </div>
  </div>
</section>
