<div class="request-access-bar fadeOutUp" id="request-access">
  <a href="mailto:sales@centra.com">
    <span class="c-logo padding"></span>
    <span class="text">Request access</span>
    <span class="padding"></span>
  </a>
</div>