<div class="request-access-bar fadeOutUp" id="request-access">
  <span class="c-logo"></span>
  <span class="text">The e-commerce platform for global brands.</span>
  <a href="mailto:sales@centra.com">Book a demo</a>
</div>