/**
 * Utilities
 *
 * These trump everything else to force a certain style. Should only do one
 * thing, such as centering text. All utility classes should start with .u-
 */
.u-screenreader-only {
  @include visually-hidden;
}

.u-hide-on-small {
  @media (max-width: breakpoint('<small')) {
    @include visually-hidden;
  }
}

.u-no-scroll {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
}

.u-overflow-hidden {
  overflow: hidden !important;
}

/**
 * Type
 */
.u-text-center {
  text-align: center !important;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-font-weight-light {
  font-weight: $font-weight-light !important;
}

.u-monospace {
  font-family: $font-family-monospace !important;
}

/**
 * Positioning
 */
.u-position-relative {
  position: relative !important;
}

/**
 * Margin & padding
 */
.u-no-margin-bottom {
  margin-bottom: 0 !important;
}

.u-no-margin-top {
  margin-top: 0 !important;
}

.u-no-padding-bottom {
  padding-bottom: 0 !important;
}

.u-no-padding-top {
  padding-top: 0 !important;
}
