/**
 * Global
 */
@import 'fonts';
@import 'normalize';
@import 'variables';

/**
 * Functions
 */
@import 'functions/breakpoint';
@import 'functions/color-trans';
@import 'functions/px-to-em';
@import 'functions/shade';
@import 'functions/spans';
@import 'functions/strip-unit';
@import 'functions/tint';
@import 'functions/z';

/**
 * Base styles
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-width: thin;
  outline-color: #4373DC;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 35px;
}

button,
input[type='submit'] {
  cursor: pointer;
}

button,
input,
select,
textarea {
  color: #111;
  font-family: $font-family-default;
  font-weight: 300;
  font-size: 21px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

hr {
  border: 0;
  border-top: 1px solid $grey-light;
  margin: 30px 0;
}

em {
  font-style: normal;
  font-weight: 600;
}

a {
  color: $brand-primary;
  text-decoration: none;
}

a:not([class]):hover,
a:not([class]):focus {
  text-decoration: underline;
}

a.headerlink {
  font-size: 0;
}

h1:hover a.headerlink::before,
h2:hover a.headerlink::before,
h3:hover a.headerlink::before,
h4:hover a.headerlink::before,
h5:hover a.headerlink::before,
h6:hover a.headerlink::before {
  opacity: 1;
}

a.headerlink::before {
  content: '';
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 15px;
  background: transparent url('./../../_static/img/headerlink.svg') no-repeat center center;
  opacity: 0;
  padding-right: 22px;
}

/**
 * Main content wrapper
 */
[role='main'].document {
  max-width: 100%;
}

.rst-content a:hover,
.rst-content a:focus {
  text-decoration: underline;
}

:target::before {
  content: '';
  display: block;
  height: 150px;
  margin: -130px 0 0;
}

/**
 * Specific styles for currencies table
 */
#supported-currencies table tr th,
#supported-currencies table tr td {
  text-align: left;
}

/**
 * Specific styles for payment method expiry times table
 */
#expiry-times-per-payment-method table tr th,
#expiry-times-per-payment-method table tr td {
  text-align: left;
}

#expiry-times-per-payment-method table ul {
  list-style: none;
  padding: 0;
}

.api-table td {
  padding: 0 10px;
}

.api-table td:first-child {
  font-weight: bold;
  text-align: center !important;
  padding-right: 25px !important;
}

.api-table td:nth-child(2) {
  font-style: italic;
}

/**
 * Typography
 */
@import 'typography';

/**
 * Layout blocks
 */
@import 'layout/l-layer';
@import 'layout/l-wrapper';

/**
* Mixins
*/
@import 'mixins/bare-list';
@import 'mixins/clearfix';
@import 'mixins/visually-hidden';

/**
* Components
*/
@import 'components/api-name';
@import 'components/api-version-switcher';
@import 'components/authentication';
@import 'components/body';
@import 'components/changelog';
@import 'components/code';
@import 'components/content';
@import 'components/endpoint';
@import 'components/code-example';
@import 'components/figure';
@import 'components/footer';
@import 'components/github-link';
@import 'components/link-dropdown';
@import 'components/main';
@import 'components/main-navigation';
@import 'components/note';
@import 'components/parameters';
@import 'components/products-navigation';
@import 'components/products-navigation-items';
@import 'components/sidebar';
@import 'components/navigation-search';
@import 'components/navigation';
@import 'components/navigation-item';
@import 'components/type';
@import 'components/payment-method-switcher';

/**
 * Utilities
 */
@import 'utilities';

/**
 * Vendor
 */
@import 'vendor/dropkick/dropkick';
