{% macro sidebar_item(item_pagename=False, item_title='', item_subtitle=None) -%}

{%- if item_pagename -%}
  {%- set is_external = item_pagename.startswith("https://") -%}
 {%- if is_external -%}
    {%- set item_url = item_pagename -%}
 {%- endif -%}
 {%- if not is_external -%}
  {%- set item_url = linkto(item_pagename) -%}
 {%- endif -%}
{%- endif -%}

 {%- if pagename == item_pagename -%}
  <li class="current">
   {%- if item_pagename != False -%}<a href="{{ item_url }}">{%- else -%}<span class="sidebar__groupsection">{%- endif -%}
    {{ item_title }}
    {% if item_subtitle is not none -%}
     <code>{{ item_subtitle }}</code>
    {%- endif %}
   {%- if item_pagename != False -%}</a>{%- else -%}</span>{%- endif -%}
   {{ toc }}
  </li>
 {%- else -%}
  <li>
   {%- if item_pagename != False -%}<a href="{{ item_url }}">{%- else -%}<span class="sidebar__groupsection">{%- endif -%}
    {{ item_title }}
    {% if item_subtitle is not none -%}
     <code>{{ item_subtitle }}</code>
    {%- endif %}
   {%- if item_pagename != False -%}</a>{%- else -%}</span>{%- endif -%}
  </li>
 {%- endif -%}
{%- endmacro -%}
